<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../includes/cdn.ejs %>
</head>

<body class="bg-neutral-200 md:mt-24 md:pt-0 md:pb-12 md:pr-8 md:pl-72">
<% include ../includes/mainHeader.ejs %>
<!-- Main Contents | Contents Start -->
<div class="max-w-screen-2xl mx-auto bg-brown p-5 rounded-3xl shadow-2xl shadow-neutral-900">
    <div class="content bg-brown-900 pb-16 shadow-2xl rounded-3xl text-neutral-50">
        <div class="intro-y flex items-center pt-10">
            <i class="bx bx-food-menu nav__icon"></i>
            <h2 class="pl-3 pt-1 text-sm lg:text-lg font-bold">설정</h2>
        </div>
        <div class="">
            <!-- 수정버튼 -->
            <div class="grid grid-cols-12 gap-3 my-3">
            <% if (user.adminGrade !='CMDT00000000000034' ) { %>
                    <button class="col-span-4 btn btn-increase py-3 px-10" onclick="window.open('https://nftntings-organization.gitbook.io/opanapi/', '_blank')">
                        API 문서
                    </button>
                    <button class="col-span-4 btn btn-cancel py-3 px-10" onclick="fnPasswordChangeModal()">
                        관리자 비밀번호 변경
                    </button>
                    <button class="col-span-4 btn btn-cancel py-3 px-10" onclick="fnViewAdminModal()">
                        보기전용 관리자 등록
                    </button>
                    <button class="col-span-4 btn btn-cancel py-3 px-10" onclick="fnViewApiKeyModal()">
                        Api Key
                    </button>
                    <button class="col-span-4 btn btn-cancel py-3 px-10" onclick="fnViewPointRateModal()">
                        포인트 설정
                    </button>
                    <button class="col-span-4 btn btn-cancel py-3 px-10" onclick="fnSignUpViewModal();">
                        회원가입 설정
                    </button>
                <% } %>
            </div>
        </div>
    </div>
</div>

<!-- 계좌수정 : Start -->
<div class="modal fade" id="system-modify" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content px-5 bg-white w-full text-xs sm:text-sm rounded-lg">
            <!-- Modal Header | Start -->
            <div class="modal-header flex py-4 justify-between text-lg font-bold text-black">
                <h2 class="text-sm xl:text-sm font-bold text-gray-500">계좌정보</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="bx bx-x bx-sm"></i>
                </button>
            </div>
            <!-- Modal Header | End -->
            <!-- Modal Body | Start  -->
            <div class="modal-body border-t border-b border-gray-400 py-4">
                <div class="flex flex-col gap-2">
                    <!-- 은행정보 -->
                    <div class="flex">
                        <div class="flex gap-2 items-center w-full text-center">
                            <div class="bg-gray-800 text-white w-40 relative">
                                <h3 class="text-center border-b border-gray-600 py-2">은행명</h3>
                                <span class="absolute top-0 right-0 mr-4 text-sm font-bold text-red-400">*</span>
                            </div>
                            <div class="w-full">
                                <input class="form-input outlineform outlineform-search w-full h-full" type="text" name="input_info1_bank" id="input_info1_bank"/>
                            </div>
                        </div>
                    </div>

                    <!-- 계좌번호 -->
                    <div class="flex">
                        <div class="flex gap-2 items-center w-full text-center">
                            <div class="bg-gray-800 text-white w-40 relative">
                                <h3 class="text-center border-b border-gray-600 py-2">계좌번호</h3>
                                <span class="absolute top-0 right-0 mr-4 text-sm font-bold text-red-400">*</span>
                            </div>
                            <div class="w-full">
                                <input class="form-input outlineform outlineform-search w-full h-full" type="text" name="input_info1_acc" id="input_info1_acc" />
                            </div>
                        </div>
                    </div>

                    <!-- 예금주 -->
                    <div class="flex">
                        <div class="flex gap-2 items-center w-full text-center">
                            <div class="bg-gray-800 text-white w-40 relative">
                                <h3 class="text-center border-b border-gray-600 py-2">예금주</h3>
                                <span class="absolute top-0 right-0 mr-4 text-sm font-bold text-red-400">*</span>
                            </div>
                            <div class="w-full">
                                <input class="form-input outlineform outlineform-search w-full h-full" type="text" name="input_info1_name" id="input_info1_name"/>
                            </div>
                        </div>
                    </div>

                    <!-- 기타 -->
                    <div class="flex">
                        <div class="flex gap-2 items-center w-full text-center">
                            <div class="bg-gray-800 text-white w-40 h-full flex justify-center items-center">
                                <div class="relative">
                                    <h3 class="text-center py-2">기타</h3>
                                    <span class="absolute top-0 -right-7 mr-4 text-sm font-bold text-red-400">*</span>
                                </div>
                            </div>
                            <div class="w-full">
                                <textarea class="form-control outlineform outlineform-search w-full" id="input_info2" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Body | End  -->
            <!-- Modal Footer | Start -->
            <div class="modal-footer text-right py-4">
                <button class="btn btn-cancel cursor-pointer px-8" type="button" data-bs-dismiss="modal">취소</button>
                <button class="btn btn-approve cursor-pointer px-8" data-bs-target="#system-modify" data-bs-toggle="modal" onclick="fnAdminModify()">
                    수정
                </button>
            </div>
            <!-- Modal Footer | End -->
        </div>
    </div>
</div>
<!-- 계좌수정 : End -->
<!-- View Admin 등록 : Start -->
<div class="modal fade" id="viewAdminModal" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content px-5 bg-white w-full text-xs sm:text-sm rounded-lg">
            <!-- Modal Header | Start -->
            <div class="modal-header flex py-4 justify-between text-lg font-bold text-blackl">
                <h2 class="uppercase">VIEW 관리자 등록</h2>
                <a data-dismiss="modal" href="javascript:;" class="text-right">
                    <i class="bx bx-x bx-sm" data-bs-dismiss="modal"></i>
                </a>
            </div>
            <!-- Modal Header | End -->
            <!-- Modal Body | Start  -->
            <div class="border-t border-b border-gray-300 py-4 flex flex-col gap-2">
                <!-- 아이디 -->
                <div class="flex">
                    <div class="flex gap-2 items-center w-full text-center">
                        <div class="bg-gray-800 text-white w-40 relative">
                            <h3 class="text-center border-b border-gray-600 py-2">아이디</h3>
                            <span class="absolute top-0 right-0 mr-4 text-sm font-bold text-red-400">*</span>
                        </div>
                        <div class="w-full">
                            <input class="form-input outlineform outlineform-search w-full h-full" type="text" name="viewId" id="viewId"/>
                        </div>
                    </div>
                </div>
                <!-- 패스워드 -->
                <div class="flex">
                    <div class="flex gap-2 items-center w-full text-center">
                        <div class="bg-gray-800 text-white w-40 relative">
                            <h3 class="text-center border-b border-gray-600 py-2">패스워드</h3>
                            <span class="absolute top-0 right-0 mr-4 text-sm font-bold text-red-400">*</span>
                        </div>
                        <div class="w-full">
                            <input class="form-input outlineform outlineform-search w-full h-full" type="text" name="viewPass" id="viewPass"/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Body | End  -->
            <!-- BEGIN: Modal Footer -->
            <div class="text-right py-4">
                <button type="button" data-bs-dismiss="modal" class="btn btn-cancel px-8">취소</button>
                <button class="btn btn-approve px-8" data-bs-target="#viewAdminModal" data-bs-toggle="modal" onclick="fnViewAdminIns();">
                    등록
                </button>
            </div>
        </div>
    </div>
</div>
<!-- View Admin 등록 : End -->
<!-- 패스워드 변경 : Start -->
<div class="modal fade" id="passwordChangeModal" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content px-5 bg-white w-full text-xs sm:text-sm rounded-lg">
            <!-- Modal Header | Start -->
            <div class="flex py-4 justify-between text-lg font-bold text-black">
                <h2 class="text-sm xl:text-sm font-bold text-gray-500">패스워드 변경</h2>
                <a data-dismiss="modal" href="javascript:;" class="text-right">
                    <i class="bx bx-x bx-sm" data-bs-dismiss="modal"></i>
                </a>
            </div>
            <!-- Modal Header | End -->
            <!-- Modal Body | Start  -->
            <div class="border-t border-b border-gray-300 py-4">
                <!-- 패스워드 -->
                <div class="flex">
                    <div class="flex gap-2 items-center w-full text-center">
                        <div class="bg-gray-800 text-white w-40 relative">
                            <h3 class="text-center py-2">패스워드</h3>
                            <span class="absolute top-0 right-0 mr-4 text-sm font-bold text-red-400">*</span>
                        </div>
                        <div class="w-full">
                            <input class="form-input outlineform outlineform-search w-full h-full" type="text" name="cngPassword" id="cngPassword"/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Body | End  -->
            <!-- Modal Footer | Start -->
            <div class="text-right py-4">
                <button type="button" data-bs-dismiss="modal" class="btn btn-cancel px-8">취소</button>
                <button class="btn btn-approve px-8" onclick="fnPasswordChange();">
                    변경
                </button>
            </div>
        </div>
    </div>
</div>
<!-- 패스워드 변경 : End -->

<!-- api key : Start -->
<div class="modal fade" id="apiKeyModal" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content px-5 bg-white w-full text-xs sm:text-sm rounded-lg" style="width: 130%;">
            <!-- Modal Header | Start -->
            <div class="flex py-4 justify-between text-lg font-bold text-black">
                <h2 class="text-sm xl:text-sm font-bold text-gray-500">api key</h2>
                <a data-dismiss="modal" href="javascript:;" class="text-right">
                    <i class="bx bx-x bx-sm" data-bs-dismiss="modal"></i>
                </a>
            </div>
            <!-- Modal Header | End -->
            <!-- Modal Body | Start  -->
            <div class="border-t border-b border-gray-300 py-4">
                <!-- 패스워드 -->
                <div class="flex">
                    <div class="flex gap-2 items-center w-full text-center">
                        <div class="bg-gray-800 text-white w-40 relative">
                            <h3 class="text-center py-2">api key</h3>
                        </div>
                        <div class="w-full">
                            <input class="form-input outlineform outlineform-search w-full h-full" type="text" name="" id="" value="<%=basicInfo.cmpnyInfo[0].refresh_token%>" readonly/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Body | End  -->
            <!-- Modal Footer | Start -->
            <div class="text-right py-4">
                <button type="button" data-bs-dismiss="modal" class="btn btn-cancel px-8">확인</button>
            </div>
        </div>
    </div>
</div>
<!-- api key : End -->

<!-- 포인트 비율 : Start -->
<div class="modal fade" id="pointRateModal" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content px-5 bg-white w-full text-xs sm:text-sm rounded-lg">
            <!-- Modal Header | Start -->
            <div class="flex py-4 justify-between text-lg font-bold text-black">
                <h2 class="text-sm xl:text-sm font-bold text-gray-500">포인트 설정</h2>
                <a data-dismiss="modal" href="javascript:;" class="text-right">
                    <i class="bx bx-x bx-sm" data-bs-dismiss="modal"></i>
                </a>
            </div>
            <!-- Modal Header | End -->
            <!-- Modal Body | Start  -->
            <div class="border-t border-b border-gray-300 py-4">
                <!-- 패스워드 -->
                <div class="flex">
                    <div class="flex gap-2 items-center w-full text-center">
                        <div class="bg-gray-800 text-white w-40 relative">
                            <h3 class="text-center py-2">여부</h3>
                        </div>
                        <div class="w-5/12">
                            <select class="form-select outlineform outlineform-search w-full bg-white" aria-label=".form-select-sm example" id="point_view_yn">
                                <option value="Y" <% if (basicInfo.cmpnyInfo[0].point_view_yn == 'Y') { %> selected <%}%>>
                                    노출
                                </option>
                                <option value="N" <% if (basicInfo.cmpnyInfo[0].point_view_yn == 'N') { %> selected <%}%>>
                                    미노출
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="flex gap-2 items-center w-full text-center">
                        <div class="bg-gray-800 text-white w-40 relative">
                            <h3 class="text-center border-b border-gray-600 py-2">비율</h3>
                        </div>
                        <div class="">
                            <input class="form-input outlineform outlineform-search h-full" type="text" name="" id="coinRate" value="<%=basicInfo.cmpnyInfo[0].coin_rate%>"/> %
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Body | End  -->
            <!-- Modal Footer | Start -->
            <div class="text-right py-4">
                <button type="button" class="btn btn-approve px-8" onclick="fnUpdateRate();">수정</button>
                <button type="button" data-bs-dismiss="modal" class="btn btn-cancel px-8">확인</button>
            </div>
        </div>
    </div>
</div>
<!-- 포인트비율 : End -->

<!-- 포인트 노출여부 : Start -->
<div class="modal fade" id="signUpViewModal" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content px-5 bg-white w-full text-xs sm:text-sm rounded-lg">
            <!-- Modal Header | Start -->
            <div class="flex py-4 justify-between text-lg font-bold text-black">
                <h2 class="text-sm xl:text-sm font-bold text-gray-500">회원가입 설정</h2>
                <a data-dismiss="modal" href="javascript:;" class="text-right">
                    <i class="bx bx-x bx-sm" data-bs-dismiss="modal"></i>
                </a>
            </div>
            <!-- Modal Header | End -->
            <!-- Modal Body | Start  -->
            <div class="border-t border-b border-gray-300 py-4">
                <!-- 패스워드 -->
                <div class="flex">
                    <div class="flex gap-2 items-center w-full text-center">
                        <div class="bg-gray-800 text-white w-40 relative">
                            <h3 class="text-center py-2">회원가입</h3>
                        </div>
                        <div class="w-1/2">
                            <select class="form-select outlineform outlineform-search w-full bg-white" aria-label=".form-select-sm example" id="sign_yn">
                                <option value="Y" <% if (basicInfo.cmpnyInfo[0].sign_yn == 'Y') { %> selected <%}%>>
                                    진행
                                </option>
                                <option value="N" <% if (basicInfo.cmpnyInfo[0].sign_yn == 'N') { %> selected <%}%>>
                                    미진행
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Body | End  -->
            <!-- Modal Footer | Start -->
            <div class="text-right py-4">
                <button type="button" class="btn btn-approve px-8" onclick="fnUpdateSignView();">수정</button>
                <button type="button" data-bs-dismiss="modal" class="btn btn-cancel px-8">확인</button>
            </div>
        </div>
    </div>
</div>
<!-- 포인트 노출여부 : End -->

<!-- 관리자 허용 아이피 등록/제거 등록 : Start -->
<div class="modal fade" id="ip_list" tabindex="-1" aria-labelledby="" aria-modal="true" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content px-5 bg-white w-full text-xs sm:text-sm rounded-lg">
            <!-- Modal Header | Start -->
            <div class="grid grid-cols-1 py-4">
                <div class="flex justify-between text-lg font-bold text-black">
                    <h2 class="text-sm xl:text-sm font-bold text-gray-500">관리자 허용 아이피 등록 내역</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="bx bx-x bx-sm"></i>
                    </button>
                </div>
            </div>
            <!-- Modal Header | End -->
            <!-- Modal Body | Start  -->
            <div class="border-t border-gray-400 py-4">
                <h2 class="text-sm break-words pb-4 xl:text-sm font-bold text-red-500">
                    사이트 설정 - 관리자사이트 아이피 차단 여부 - 허용 IP 관리자만 로그인 설정 시 적용됩니다.
                </h2>
                <div class="text-center pt-1">
                    <div class="overflow-x-auto text-xs sm:text-sm w-full">
                        <table class="table-theme-5">
                            <thead class="bg-gray-800">
                            <tr class="bg-gray-800">
                                <th>등록 일자</th>
                                <th>등록 아이피</th>
                                <th>등록/삭제</th>
                            </tr>
                            </thead>
                            <tbody id="ipListTbody">
                            </tbody>
                        </table>

                        <div class="mr-auto ml-auto text-center">
                            <ul class="flex justify-center gap-2" id="pagingIpList">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Body | End  -->
        </div>
    </div>
</div>
<!-- 관리자 허용 아이피 등록/제거 등록 : End -->
<!-- 사이트 설정 : Start -->
<div class="modal fade" id="pay-modify" tabindex="-1" aria-labelledby="" aria-modal="true" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content px-5 bg-white w-full text-xs sm:text-sm rounded-lg">
            <!-- Modal Header | Start -->
            <div class="madal-header grid grid-cols-1 py-4">
                <div class="flex justify-between text-lg font-bold text-black">
                    <h2 class="text-sm xl:text-sm font-bold text-gray-500">사이트 설정</h2>
                    <a data-dismiss="modal" href="javascript:;" class="text-right">
                        <i class="bx bx-x bx-sm" data-bs-dismiss="modal"></i>
                    </a>
                </div>
            </div>
            <!-- Modal Header | End -->
            <!-- Modal Body | Start  -->
            <div class="border-t border-b border-gray-400 py-4">
                <!-- 최대신청 가능금액 -->
                <div class="flex">
                    <div class="flex gap-2 items-center w-full text-center">
                        <div class="bg-gray-800 text-white w-96 relative">
                            <h3 class="text-center border-b border-gray-600 py-2">최대신청 가능금액(만원)</h3>
                            <span class="absolute top-0 right-0 mr-4 text-sm font-bold text-red-400">*</span>
                        </div>
                        <div class="w-full">
                            <input class="form-input outlineform outlineform-search w-full h-full" value="<%=basicInfo.cmpnyInfo[0].max_amt%>" type="number" name="max_amt" id="max_amt"/>
                        </div>
                    </div>
                </div>
                <!-- 최소신청 가능금액 -->
                <div class="flex">
                    <div class="flex gap-2 items-center w-full text-center">
                        <div class="bg-gray-800 text-white w-96 relative">
                            <h3 class="text-center border-b border-gray-600 py-2">최소신청 가능금액(만원)</h3>
                            <span class="absolute top-0 right-0 mr-4 text-sm font-bold text-red-400">*</span>
                        </div>
                        <div class="w-full">
                            <input class="form-input outlineform outlineform-search w-full h-full" value="<%=basicInfo.cmpnyInfo[0].min_amt%>" type="number" name="min_amt" id="min_amt"/>
                        </div>
                    </div>
                </div>
                <!-- 코인 알람 설정 금액 -->
                <div class="flex">
                    <div class="flex gap-2 items-center w-full text-center">
                        <div class="bg-gray-800 text-white w-96 relative">
                            <h3 class="text-center border-b border-gray-600 py-2">코인 알람 설정 금액</h3>
                            <span class="absolute top-0 right-0 mr-4 text-sm font-bold text-red-400">*</span>
                        </div>
                        <div class="w-full">
                            <input class="form-input outlineform outlineform-search w-full h-full" value="<%=basicInfo.cmpnyInfo[0].coin_alarm%>" type="number" name="coin_alarm" id="coin_alarm"/>
                        </div>
                    </div>
                </div>
                <!-- 캡차로그인 여부 -->
                <div class="flex">
                    <div class="flex gap-2 items-center w-full text-center">
                        <div class="bg-gray-800 text-white w-96 relative">
                            <h3 class="text-center border-b border-gray-600 py-2">캡차로그인 여부</h3>
                            <span class="absolute top-0 right-0 mr-4 text-sm font-bold text-red-400">*</span>
                        </div>
                        <div class="w-full bg-white text-black form-check-input placeholder-gray-500">
                            <select class="form-select outlineform outlineform-search w-full bg-white" value="<%=basicInfo.cmpnyInfo[0].is_captcha%>" aria-label=".form-select-sm example" id="is_captcha">
                                <option value="Y" <% if (basicInfo.cmpnyInfo[0].is_captcha=='Y' ) { %> selected<%}%> >
                                    캡차 사용함
                                </option>
                                <option value="N" <% if (basicInfo.cmpnyInfo[0].is_captcha=='N' ) { %> selected<%}%> >
                                    캡차 사용안함
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- 사이트중지 여부 -->
                <div class="flex">
                    <div class="flex gap-2 items-center w-full text-center">
                        <div class="bg-gray-800 text-white w-96 relative">
                            <h3 class="text-center border-b border-gray-600 py-2">사이트중지 여부</h3>
                            <span class="absolute top-0 right-0 mr-4 text-sm font-bold text-red-400">*</span>
                        </div>
                        <div class="w-full bg-white text-black form-check-input placeholder-gray-500">
                            <select class="form-select outlineform outlineform-search w-full bg-white" value="<%=basicInfo.cmpnyInfo[0].is_pause%>" aria-label=".form-select-sm example" id="is_pause">
                                <option value="N" <% if (basicInfo.cmpnyInfo[0].is_pause=='N' ) { %> selected <%}%> >운영</option>
                                <option value="Y" <% if (basicInfo.cmpnyInfo[0].is_pause=='Y' ) { %> selected <%}%> >중지</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- 관리자사이트 아이피 차단 여부 -->
                <div class="flex">
                    <div class="flex gap-2 items-center w-full text-center">
                        <div class="bg-gray-800 text-white w-96 relative">
                            <h3 class="text-center border-b border-gray-600 py-2">관리자사이트 아이피 차단 여부</h3>
                            <span class="absolute top-0 right-0 mr-4 text-sm font-bold text-red-400">*</span>
                        </div>
                        <div class="w-full bg-white text-black form-check-input placeholder-gray-500">
                            <select class="form-select outlineform outlineform-search w-full bg-white" value="<%=basicInfo.cmpnyInfo[0].is_admin_ip_block%>" aria-label=".form-select-sm example" id="is_admin_ip_block">
                                <option value="N" <% if (basicInfo.cmpnyInfo[0].is_admin_ip_block=='N' ) { %> selected <%}%> >
                                    모든 관리자 로그인
                                </option>
                                <option value="Y" <% if (basicInfo.cmpnyInfo[0].is_admin_ip_block=='Y' ) { %> selected <%}%> >
                                    허용 IP 관리자만 로그인
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- 계좌 확인 후 미입금 회원 자동정지 사용여부(코인 구매 없을 시) -->
                <div class="flex">
                    <div class="flex gap-2 items-center w-full text-center">
                        <div class="bg-gray-800 text-white w-96 relative">
                            <h3 class="text-center border-b border-gray-600 py-2">
                                회원 자동정지 사용여부<br />(계좌 확인 후 미입금)
                            </h3>
                            <span class="absolute top-0 right-0 mr-4 text-sm font-bold text-red-400">*</span>
                        </div>
                        <div class="w-full bg-white text-black form-check-input placeholder-gray-500">
                            <select class="form-select outlineform outlineform-search w-full bg-white" value="<%=basicInfo.cmpnyInfo[0].is_auto_suspension_view%>" aria-label=".form-select-sm example" id="is_auto_suspension_view">
                                <option value="Y" <% if (basicInfo.cmpnyInfo[0].is_auto_suspension_view=='Y' ) { %> selected <%}%>>
                                    사용
                                </option>
                                <option value="N" <% if (basicInfo.cmpnyInfo[0].is_auto_suspension_view=='N' ) { %> selected <%}%>>
                                    미사용
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- 계좌 확인 후 미입금 회원 자동정지 시간 -->
                <div class="flex">
                    <div class="flex gap-2 items-center w-full text-center">
                        <div class="bg-gray-800 text-white w-96 relative">
                            <h3 class="text-center border-b border-gray-600 py-2">
                                계좌 확인 후 미입금 회원<br />
                                자동정지 시간(분)
                            </h3>
                            <span class="absolute top-0 right-0 mr-4 text-sm font-bold text-red-400">*</span>
                        </div>
                        <div class="w-full">
                            <input class="form-input outlineform outlineform-search w-full h-full" value="<%=basicInfo.cmpnyInfo[0].suspension_min%>" type="number" name="suspension_min" id="suspension_min"/>
                        </div>
                    </div>
                </div>
                <!-- 회원 자동정지 사용여부(코인 구매 없을 시) -->
                <div class="flex">
                    <div class="flex gap-2 items-center w-full text-center">
                        <div class="bg-gray-800 text-white w-96 relative">
                            <h3 class="text-center border-b border-gray-600 py-2">
                                회원 자동정지 사용여부<br />(코인 구매 없을 시)
                            </h3>
                            <span class="absolute top-0 right-0 mr-4 text-sm font-bold text-red-400">*</span>
                        </div>
                        <div class="w-full bg-white text-black form-check-input placeholder-gray-500">
                            <select class="form-select outlineform outlineform-search w-full bg-white" value="<%=basicInfo.cmpnyInfo[0].is_auto_suspension%>" aria-label=".form-select-sm example" id="is_auto_suspension">
                                <option value="Y" <% if (basicInfo.cmpnyInfo[0].is_auto_suspension=='Y' ) { %> selected <%}%> >
                                    사용
                                </option>
                                <option value="N" <% if (basicInfo.cmpnyInfo[0].is_auto_suspension=='N' ) { %> selected <%}%> >
                                    미사용
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- 회원 정지 변경 기간(코인 구매 없을 시) -->
                <div class="flex">
                    <div class="flex gap-2 items-center w-full text-center">
                        <div class="bg-gray-800 text-white w-96 relative">
                            <h3 class="text-center border-b border-gray-600 py-2">
                                회원 정지 변경 기간<br />(코인 구매 없을 시)
                            </h3>
                            <span class="absolute top-0 right-0 mr-4 text-sm font-bold text-red-400">*</span>
                        </div>
                        <div class="w-full bg-white text-black form-check-input placeholder-gray-500">
                            <select class="form-select outlineform outlineform-search w-full bg-white" value="<%=basicInfo.cmpnyInfo[0].suspension_day%>" aria-label=".form-select-sm example" id="suspension_day">
                                <option value="1" <% if (basicInfo.cmpnyInfo[0].suspension_day=='1' ) { %> selected <%}%> >
                                    1일
                                </option>
                                <option value="2" <% if (basicInfo.cmpnyInfo[0].suspension_day=='2' ) { %> selected <%}%> >
                                    2일
                                </option>
                                <option value="3" <% if (basicInfo.cmpnyInfo[0].suspension_day=='3' ) { %> selected <%}%> >
                                    3일
                                </option>
                                <option value="4" <% if (basicInfo.cmpnyInfo[0].suspension_day=='4' ) { %> selected <%}%> >
                                    4일
                                </option>
                                <option value="5" <% if (basicInfo.cmpnyInfo[0].suspension_day=='5' ) { %> selected <%}%> >
                                    5일
                                </option>
                                <option value="6" <% if (basicInfo.cmpnyInfo[0].suspension_day=='6' ) { %> selected <%}%> >
                                    6일
                                </option>
                                <option value="7" <% if (basicInfo.cmpnyInfo[0].suspension_day=='7' ) { %> selected <%}%> >
                                    7일
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- 로그인 문구 -->
                <div class="flex">
                    <div class="flex gap-2 items-center w-full text-center">
                        <div class="bg-gray-800 text-white w-96 relative">
                            <h3 class="text-center border-b border-gray-600 py-2">로그인 문구</h3>
                            <span class="absolute top-0 right-0 mr-4 text-sm font-bold text-red-400">*</span>
                        </div>
                        <div class="w-full">
                            <input class="form-input outlineform outlineform-search w-full h-full" type="text" value="<%=basicInfo.cmpnyInfo[0].login_text%>" name="login_text" id="login_text"/>
                        </div>
                    </div>
                </div>

                <!-- 패스워드 문구 -->
                <div class="flex">
                    <div class="flex gap-2 items-center w-full text-center">
                        <div class="bg-gray-800 text-white w-96 relative">
                            <h3 class="text-center border-b border-gray-600 py-2">패스워드 문구</h3>
                            <span class="absolute top-0 right-0 mr-4 text-sm font-bold text-red-400">*</span>
                        </div>
                        <div class="w-full">
                            <input class="form-input outlineform outlineform-search w-full h-full" type="text" value="<%=basicInfo.cmpnyInfo[0].pwd_text%>" name="pwd_text" id="pwd_text"/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Body | End  -->
            <!-- Modal Footer | Start -->
            <div class="text-right py-4">
                <button type="button" data-bs-dismiss="modal" class="btn btn-cancel px-8">취소</button>
                <button class="btn btn-approve px-8" data-bs-target="#pay-modify" data-bs-toggle="modal" onclick="fnPayModify();">
                    수정
                </button>
            </div>
        </div>
    </div>
</div>
<!-- 사이트 설정 : End -->

<!-- 사용자 차단 아이피 등록/제거 등록 : Start -->
<div class="modal fade" id="user_ip_list" tabindex="-1" aria-labelledby="" aria-modal="true" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content px-5 bg-white w-full text-xs sm:text-sm rounded-lg">
            <!-- Modal Header | Start -->
            <div class="modal-header flex py-4 justify-between text-lg font-bold text-black">
                <h2 class="">사용자 차단 아이피 등록 내역</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="bx bx-x bx-sm"></i>
                </button>
            </div>
            <!-- Modal Header | End -->
            <!-- Modal Body | Start  -->
            <div class="modal-body p-0">
                <div class="text-center border-b-2">
                    <div class="overflow-x-auto text-xs sm:text-sm w-full">
                        <table class="table-theme-5">
                            <thead class="bg-gray-800">
                            <tr class="bg-gray-800">
                                <th>등록 일자</th>
                                <th>차단 아이피</th>
                                <th>등록/삭제</th>
                            </tr>
                            </thead>
                            <tbody id="userIpListTbody">
                            </tbody>
                        </table>

                        <div class="mr-auto ml-auto text-center my-5">
                            <ul class="flex justify-center gap-2" id="pagingUserIpList"></ul>
                        </div>
                    </div>
                </div>
                <!-- Pagination -->
            </div>
            <!-- Modal Body | End  -->
        </div>
    </div>
</div>
<!-- 사용자 차단 아이피 등록/제거 등록 : End -->
<!-- 계좌 일괄 정지 : Start -->
<div class="modal fade" id="acc_list" tabindex="-1" aria-labelledby="" aria-modal="true" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content px-5 bg-white w-full text-xs sm:text-sm rounded-lg">
            <!-- Modal Header | Start -->
            <div class="grid grid-cols-1 py-4">
                <div class="flex justify-between text-lg font-bold text-black">
                    <h2 class="text-sm xl:text-sm font-bold text-gray-500">계좌 일괄 정지 내역</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="bx bx-x bx-sm"></i>
                    </button>
                </div>
            </div>
            <!-- Modal Header | End -->
            <!-- Modal Body | Start  -->
            <div class="modal-body border-t border-gray-400">
                <div class="text-center">
                    <div class="overflow-x-auto text-xs sm:text-sm w-full">
                        <table class="table-theme-5">
                            <thead class="bg-gray-800">
                            <tr class="bg-gray-800">
                                <th>업체명/아이디</th>
                                <th>계좌 정보</th>
                                <th>
                                    <input type="hidden" id="userAcc" name="userAcc" value="" />
                                </th>
                            </tr>
                            </thead>
                            <tbody id="accListTbody">
                            <tr class="text-center">
                                <td></td>
                                <td>
                                    <input type="text" class="form-input outlineform outlineform-search w-full h-full" name="user_acc" id="user_acc"/>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-approve px-8" onclick="fnSearchUserAcc(1, false)">
                                        계좌 번호 조회
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="mr-auto ml-auto text-center my-4">
                            <ul class="flex justify-center gap-2" id="pagingAccList"></ul>
                        </div>
                    </div>
                </div>

                <!-- Pagination -->
            </div>
            <!-- Modal Body | End  -->
            <!-- Modal Footer | Start -->

            <div class="modal-footer text-right py-4">
                <button type="button" class="btn btn-cancel px-8" onclick="fnSetAccBlock('CMDT00000000000029')">
                    일괄정지
                </button>
                <button class="btn btn-approve px-8" onclick="fnSetAccBlock('CMDT00000000000030')">
                    일괄정지해제
                </button>
            </div>
        </div>
    </div>
</div>
<!-- 계좌 일괄 정지 : End -->
<!-- 판매자 리스트 : Start -->
<div class="modal fade" id="seller_list" tabindex="-1" aria-labelledby="" aria-modal="true" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content px-5 bg-white w-full text-xs sm:text-sm rounded-lg">
            <!-- Modal Header | Start -->
            <div class="modal-header flex py-4 justify-between text-lg font-bold text-black">
                <h2 class="text-sm xl:text-sm font-bold text-gray-500">판매자 리스트</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="bx bx-x bx-sm"></i>
                </button>
            </div>
            <!-- Modal Header | End -->
            <!-- Modal Body | Start  -->
            <div class="modal-body border-t border-gray-400 py-4">
                <div class="text-center">
                    <div class="overflow-x-auto text-xs sm:text-sm w-full">
                        <table class="table-theme-5">
                            <thead class="bg-gray-800">
                            <tr class="bg-gray-800">
                                <th>판매자아이디</th>
                                <th>계좌 정보</th>
                                <th>
                                    <input type="hidden" id="sellerSeq" name="sellerSeq" value="" />
                                </th>
                            </tr>
                            </thead>
                            <tbody id="sellerListTbody">
                            </tbody>
                        </table>

                        <div class="mr-auto ml-auto text-center my-5">
                            <ul class="flex justify-center gap-2" id="pagingSellerList">
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Pagination -->
            </div>
        </div>
    </div>
</div>
<!-- 판매자 리스트 : End -->
<div class="modal fade" id="sellerCoin" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content px-5 bg-white w-full text-xs sm:text-sm rounded-lg">
            <!-- Modal Header | Start -->
            <div class="modal-header flex py-4 justify-between text-lg font-bold text-blackl">
                <h2 class="uppercase">코인조회/지급</h2>
                <a data-dismiss="modal" href="javascript:;" class="text-right">
                    <i class="bx bx-x bx-sm" data-bs-dismiss="modal"></i>
                </a>
            </div>
            <!-- Modal Header | End -->
            <!-- Modal Body | Start  -->
            <div class="border-t border-b border-gray-300 py-4 flex flex-col gap-2">
                <div class="flex">
                    <div class="flex gap-2 items-center w-full text-center">
                        <div class="bg-gray-800 text-white w-40 relative">
                            <h3 class="text-center border-b border-gray-600 py-2">아이디</h3>
                            <span class="absolute top-0 right-0 mr-4 text-sm font-bold text-red-400">*</span>
                        </div>
                        <div class="w-full">
                            <input class="form-input outlineform outlineform-search w-full h-full" type="text" name="sellerId" id="sellerId" readonly/>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="flex gap-2 items-center w-full text-center">
                        <div class="bg-gray-800 text-white w-40 relative">
                            <h3 class="text-center border-b border-gray-600 py-2">계좌정보</h3>
                            <span class="absolute top-0 right-0 mr-4 text-sm font-bold text-red-400">*</span>
                        </div>
                        <div class="w-full">
                            <input class="form-input outlineform outlineform-search w-full h-full" type="text" name="bankInfo" id="bankInfo" readonly/>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="flex gap-2 items-center w-full text-center">
                        <div class="bg-gray-800 text-white w-40 relative">
                            <h3 class="text-center border-b border-gray-600 py-2">코인주소</h3>
                            <span class="absolute top-0 right-0 mr-4 text-sm font-bold text-red-400">*</span>
                        </div>
                        <div class="w-full">
                            <input class="form-input outlineform outlineform-search w-full h-full" type="text" name="ethAddr" id="ethAddr" readonly/>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="flex gap-2 items-center w-full text-center">
                        <div class="bg-gray-800 text-white w-40 relative">
                            <h3 class="text-center border-b border-gray-600 py-2">코인잔액</h3>
                            <span class="absolute top-0 right-0 mr-4 text-sm font-bold text-red-400">*</span>
                        </div>
                        <div class="w-full">
                            <input class="form-input outlineform outlineform-search w-full h-full" type="text" name="balance" id="balance" readonly/>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="flex gap-2 items-center w-full text-center">
                        <div class="bg-gray-800 text-white w-40 relative">
                            <h3 class="text-center border-b border-gray-600 py-2">코인충전</h3>
                            <span class="absolute top-0 right-0 mr-4 text-sm font-bold text-red-400">*</span>
                        </div>
                        <div class="w-full">
                            <input class="form-input outlineform outlineform-search w-full h-full" type="text" name="addBalance" id="addBalance"/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Body | End  -->
            <!-- BEGIN: Modal Footer -->
            <div class="text-right py-4">
                <button type="button" data-bs-dismiss="modal" class="btn btn-cancel px-8">취소</button>
                <button class="btn btn-approve px-8" onclick="sellerCoinSend();">
                    전송
                </button>
            </div>
        </div>
    </div>
</div>
</body>
<% include ../includes/js.ejs %>
<% include ../includes/footer.ejs %>

<script>

    function sellerCoinSend() {
        wrapWindowByMaskShow();
        $.ajax({
            url: '/m/sellerCoinSend',
            dataType: 'json',
            type: 'POST',
            data: {
                toAddress: $("#ethAddr").val(),
                balance: $("#addBalance").val()
            },
            success: function (result) {
                wrapWindowByMaskHide();
                if (result.success) {
                    $("#sellerCoin").modal('hide');
                    fnAlertRefreshMessage('정상처리 되었습니다.');
                } else {
                    fnAlertMessage(result.message);
                }
            }
        });
    }

    function getToken(sellerId, bankInfo, ethAddr) {
        $("#sellerId").val(sellerId)
        $("#bankInfo").val(bankInfo)
        $("#ethAddr").val(ethAddr)
        $("#addBalance").val("");

        $.ajax({
            url: '/m/getSellerBalance',
            dataType: 'json',
            type: 'POST',
            data: {
                ethAddr: ethAddr
            },
            success: function (result) {
                $("#balance").val(result.data.sellerBalance.token);
                $("#sellerCoin").modal('show');
                $('#seller_list').modal('hide');
            }
        });


    }

    function fnGetSeller(mSeq) {
        fnGetSellerList(1);
        $('#seller_list').modal('show');
    }

    function fnGetSellerList(idx) {
        wrapWindowByMaskShow();

        let pageIndex = parseInt(idx);

        $.ajax({
            url: '/m/getSellerList',
            dataType: 'json',
            type: 'POST',
            data: {
                pageIndex: pageIndex
            },
            success: function (result) {
                wrapWindowByMaskHide();
                if (result.success) {
                    $('#sellerListTbody').empty();
                    $('#pagingSellerList').empty();
                    let sellerList = result.data.sellerList;
                    let sellerListTbody = "";
                    if (sellerList.length > 0) {
                        for (var ii = 0; ii < sellerList.length; ii++) {
                            sellerListTbody += '<tr class="text-center">'
                            sellerListTbody += '<td>' + sellerList[ii].seller_id + '</td>'
                            sellerListTbody += '<td>' + sellerList[ii].seller_bank + " " + sellerList[ii].seller_acc + " " + sellerList[ii].seller_name + '</td>'
                            sellerListTbody += '<td><button type="button" class="btn btn-approve px-8" '
                            sellerListTbody += ' onClick="getToken(\'' + sellerList[ii].seller_id + '\',\'' + sellerList[ii].seller_bank
                            sellerListTbody += ' ' + sellerList[ii].seller_acc + ' ' + sellerList[ii].seller_name + '\', \'' + sellerList[ii].eth_addr + '\')">코인조회</button></td>'
                            sellerListTbody += '</tr>'

                        }
                    } else {
                        sellerListTbody += '<tr class="text-center">'
                        sellerListTbody += '<td colspan="3"> == 내역 없음 == </td>'
                        sellerListTbody += '</tr>'

                        $('#sellerListFooter').empty();
                    }

                    let pagingHtml = "";
                    let pagination = result.data.pagination;

                    console.log('result.data.pagination : ' + JSON.stringify(result.data.pagination))

                    if (parseInt(pagination.curSet) > 1) {
                        pagingHtml += '<li class="page-item prev" style="display: inline-block;"><a href="javascript:void(0)" onClick="fnGetSellerList(1);" class="page-link" href="#" tabindex="-1">&lt;</a></li>'
                    }
                    for (var i = parseInt(pagination.startPage); i <= parseInt(pagination.endPage); i++) {
                        if (i > parseInt(pagination.totalPage)) {
                            break;
                        }

                        if (i == parseInt(pagination.pageIndex)) {
                            pagingHtml += '<li class="page-item active " style="display: inline-block;"><a class="page-link" href="javascript:void(0)" )>' + i + '</a></li>'
                        } else {
                            pagingHtml += '<li class="page-item " style="display: inline-block;"><a class="page-link" href="javascript:fnGetSellerList(' + i + ')" )>' + i + '</a></li>'
                        }
                    }

                    if (parseInt(pagination.curSet) < parseInt(pagination.totalSet)) {
                        pagingHtml += '<li class="page-item next" style="display: inline-block;"><a href="javascript:void(0);" onClick="fnGetSellerList(' + (Number(pagination.endPage) + 1) +
                            ')" class="page-link" >&gt;</a></li>'
                    }

                    // console.log(ipListTbody)
                    $('#sellerListTbody').append(sellerListTbody);
                    $('#pagingSellerList').append(pagingHtml);

                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
            } //function끝
        });
    }

    function fnSetAccBlock(mem_status) {
        if ($("#userAcc").val() == '') {
            $("#acc_list").modal('hide');
            fnAlertMessage('계좌 조회 후 사용 가능합니다.');
            return;
        }
        $.ajax({
            url: '/m/setAccBlock',
            dataType: 'json',
            type: 'POST',
            data: {
                user_acc: $("#userAcc").val(),
                mem_status: mem_status
            },
            success: function (result) {
                $("#acc_list").modal('hide');
                if (result.success) {
                    fnAlertRefreshMessage('정상처리 되었습니다.');
                } else {
                    fnAlertMessage(result.message);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#acc_list").modal('hide');
                fnAlertMessage('정상적으로 처리되지 않았습니다.');
            } //function끝
        });
    }

    function fnSearchUserAcc(idx, isPage) {
        let acc_val = /[^0-9|-]/g;
        if (!isPage && acc_val.test($('#user_acc').val())) {
            fnAlertMessage('계좌번호는 숫자와 - 만 가능합니다.');
            return;
        }

        if ($('#userAcc').val() == "") {
            $("#userAcc").val($("#user_acc").val())
        }
        wrapWindowByMaskShow();

        let pageIndex = parseInt(idx);

        $.ajax({
            url: '/m/getUserAccList',
            dataType: 'json',
            type: 'POST',
            data: {
                pageIndex: pageIndex,
                userAcc: $('#userAcc').val()
            },
            success: function (result) {
                wrapWindowByMaskHide();
                if (result.success) {
                    $('#accListTbody').empty();
                    $('#pagingAccList').empty();
                    let accList = result.data.accList;
                    let accListTbody = "";
                    if (accList.length > 0) {
                        for (var ii = 0; ii < accList.length; ii++) {

                            accListTbody += '<tr class="text-center">'
                            accListTbody += '<td>' + accList[ii].cmpny_nm + " / " + accList[ii].mem_id + '</td>'
                            accListTbody += '<td colspan="2">' + accList[ii].bank_info + " " + accList[ii].bank_acc + " / " + accList[ii].acc_nm + '</td>'
                            accListTbody += '</tr>'

                        }
                    } else {
                        accListTbody += '<tr class="text-center">'
                        accListTbody += '<td colspan="3"> == 내역 없음 == </td>'
                        accListTbody += '</tr>'

                        $('#accListFooter').empty();
                    }

                    let pagingHtml = "";
                    let pagination = result.data.pagination;


                    if (parseInt(pagination.curSet) > 1) {
                        pagingHtml += '<li class="page-item prev" style="display: inline-block;"><a href="javascript:void(0)" onClick="fnSearchUserAcc(1, true);" class="page-link" href="#" tabindex="-1">&lt;</a></li>'
                    }
                    for (var i = parseInt(pagination.startPage); i <= parseInt(pagination.endPage); i++) {
                        if (i > parseInt(pagination.totalPage)) {
                            break;
                        }

                        if (i == parseInt(pagination.pageIndex)) {
                            pagingHtml += '<li class="page-item active " style="display: inline-block;"><a class="page-link" href="javascript:void(0)" )>' + i + '</a></li>'
                        } else {
                            pagingHtml += '<li class="page-item " style="display: inline-block;"><a class="page-link" href="javascript:fnSearchUserAcc(' + i + ', true)" )>' + i + '</a></li>'
                        }
                    }

                    if (parseInt(pagination.curSet) < parseInt(pagination.totalSet)) {
                        pagingHtml += '<li class="page-item next" style="display: inline-block;"><a href="javascript:void(0);" onClick="fnSearchUserAcc(' + (Number(pagination.endPage) + 1) +
                            ', true)" class="page-link" >&gt;</a></li>'
                    }


                    console.log(accListTbody)
                    $('#accListTbody').append(accListTbody);
                    $('#pagingAccList').append(pagingHtml);

                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
            } //function끝
        });

    }

    function fnGetAccList() {
        $('#acc_list').modal('show');
    }

    function fnPayModify() {
        let max_amt = $('#max_amt').val();
        let min_amt = $('#min_amt').val();
        let is_captcha = $('#is_captcha').val();
        let is_pause = $('#is_pause').val();
        let login_text = $('#login_text').val();
        let pwd_text = $('#pwd_text').val();
        let is_admin_ip_block = $('#is_admin_ip_block').val();
        let suspension_day = $('#suspension_day').val();
        let is_auto_suspension = $("#is_auto_suspension").val();
        let suspension_min = $("#suspension_min").val();
        let is_auto_suspension_view = $("#is_auto_suspension_view").val();
        let coin_alarm = $("#coin_alarm").val();


        var form = document.createElement("form");
        form.setAttribute("charset", "UTF-8");
        form.setAttribute("method", "Post"); //Post 방식
        form.setAttribute("action", "/s/a/pu"); //요청 보낼 주소

        var hiddenField1 = document.createElement("input");
        hiddenField1.setAttribute("type", "hidden");
        hiddenField1.setAttribute("name", "max_amt");
        hiddenField1.setAttribute("value", max_amt);
        form.appendChild(hiddenField1);

        var hiddenField2 = document.createElement("input");
        hiddenField2.setAttribute("type", "hidden");
        hiddenField2.setAttribute("name", "min_amt");
        hiddenField2.setAttribute("value", min_amt);
        form.appendChild(hiddenField2);

        var hiddenField3 = document.createElement("input");
        hiddenField3.setAttribute("type", "hidden");
        hiddenField3.setAttribute("name", "is_captcha");
        hiddenField3.setAttribute("value", is_captcha);
        form.appendChild(hiddenField3);

        var hiddenField4 = document.createElement("input");
        hiddenField4.setAttribute("type", "hidden");
        hiddenField4.setAttribute("name", "is_pause");
        hiddenField4.setAttribute("value", is_pause);
        form.appendChild(hiddenField4);

        var hiddenField5 = document.createElement("input");
        hiddenField5.setAttribute("type", "hidden");
        hiddenField5.setAttribute("name", "login_text");
        hiddenField5.setAttribute("value", login_text);
        form.appendChild(hiddenField5);

        var hiddenField6 = document.createElement("input");
        hiddenField6.setAttribute("type", "hidden");
        hiddenField6.setAttribute("name", "pwd_text");
        hiddenField6.setAttribute("value", pwd_text);
        form.appendChild(hiddenField6);

        var hiddenField7 = document.createElement("input");
        hiddenField7.setAttribute("type", "hidden");
        hiddenField7.setAttribute("name", "is_admin_ip_block");
        hiddenField7.setAttribute("value", is_admin_ip_block);
        form.appendChild(hiddenField7);

        var hiddenField8 = document.createElement("input");
        hiddenField8.setAttribute("type", "hidden");
        hiddenField8.setAttribute("name", "suspension_day");
        hiddenField8.setAttribute("value", suspension_day);
        form.appendChild(hiddenField8);

        var hiddenField9 = document.createElement("input");
        hiddenField9.setAttribute("type", "hidden");
        hiddenField9.setAttribute("name", "is_auto_suspension");
        hiddenField9.setAttribute("value", is_auto_suspension);
        form.appendChild(hiddenField9);

        var hiddenField10 = document.createElement("input");
        hiddenField10.setAttribute("type", "hidden");
        hiddenField10.setAttribute("name", "suspension_min");
        hiddenField10.setAttribute("value", suspension_min);
        form.appendChild(hiddenField10);

        var hiddenField11 = document.createElement("input");
        hiddenField11.setAttribute("type", "hidden");
        hiddenField11.setAttribute("name", "is_auto_suspension_view");
        hiddenField11.setAttribute("value", is_auto_suspension_view);
        form.appendChild(hiddenField11);

        var hiddenField12 = document.createElement("input");
        hiddenField12.setAttribute("type", "hidden");
        hiddenField12.setAttribute("name", "coin_alarm");
        hiddenField12.setAttribute("value", coin_alarm);
        form.appendChild(hiddenField12);

        document.body.appendChild(form);
        form.submit();

    }

    function fnGetPayConfig() {
        $("#pay-modify").modal('show');
    }

    function fnDeleteUserIp(seq) {
        wrapWindowByMaskShow();
        $.ajax({
            url: '/m/deleteUserIp',
            dataType: 'json',
            type: 'POST',
            data: {
                seq: seq
            },
            success: function (result) {
                wrapWindowByMaskHide();
                if (result.success) {
                    $("#user_ip_list").modal('hide');
                    fnAlertRefreshMessage('정상처리 되었습니다.');

                } else {
                    fnAlertMessage(result.message);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                wrapWindowByMaskHide();
                fnAlertMessage('정상적으로 처리되지 않았습니다.');
            } //function끝
        });
    }

    function fnInsertUserIp() {
        $.ajax({
            url: '/m/insertUserIp',
            dataType: 'json',
            type: 'POST',
            data: {
                user_ip: $("#user_ip").val()
            },
            success: function (result) {
                if (result.success) {
                    $("#user_ip_list").modal('hide');
                    fnAlertRefreshMessage('정상처리 되었습니다.');
                } else {
                    fnAlertMessage(result.message);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                wrapWindowByMaskHide();
                fnAlertMessage('정상적으로 처리되지 않았습니다.');
            } //function끝
        });
    }

    function fnGetUserIpList() {
        fnUserIpList(1);
        $('#user_ip_list').modal('show');
    }

    function fnUserIpList(idx) {
        wrapWindowByMaskShow();

        let pageIndex = parseInt(idx);

        $.ajax({
            url: '/m/getUserIpList',
            dataType: 'json',
            type: 'POST',
            data: {
                pageIndex: pageIndex
            },
            success: function (result) {
                wrapWindowByMaskHide();
                if (result.success) {
                    $('#userIpListTbody').empty();
                    $('#pagingUserIpList').empty();
                    let ipList = result.data.ipList;
                    let ipListTbody = "";
                    ipListTbody += '<tr class="text-center">'
                    ipListTbody += '<td></td>'
                    ipListTbody += '<td><input type="text" class="form-input input-outline outline-search w-full" name="user_ip" id="user_ip" /></td>'
                    ipListTbody += '<td><button type="button" class="btn btn-approve px-8" onClick="fnInsertUserIp()">등록</button></td>'
                    ipListTbody += '</tr>'
                    if (ipList.length > 0) {
                        for (var ii = 0; ii < ipList.length; ii++) {
                            ipListTbody += '<tr class="text-center">'
                            ipListTbody += '<td>' + ipList[ii].create_dt + '</td>'
                            ipListTbody += '<td>' + ipList[ii].user_ip + '</td>'
                            ipListTbody += '<td><button type="button" class="btn btn-approve px-8" onClick="fnDeleteUserIp(' + ipList[ii].seq + ')">삭제</button></td>'
                            ipListTbody += '</tr>'

                        }
                    } else {
                        ipListTbody += '<tr class="text-center">'
                        ipListTbody += '<td colspan="3"> == 내역 없음 == </td>'
                        ipListTbody += '</tr>'

                        $('#ipListFooter').empty();
                    }

                    let pagingHtml = "";
                    let pagination = result.data.pagination;

                    console.log('result.data.pagination : ' + JSON.stringify(result.data.pagination))

                    if (parseInt(pagination.curSet) > 1) {
                        pagingHtml += '<li class="page-item prev" style="display: inline-block;"><a href="javascript:void(0)" onClick="fnIpList(1);" class="page-link" href="#" tabindex="-1">&lt;</a></li>'
                    }
                    for (var i = parseInt(pagination.startPage); i <= parseInt(pagination.endPage); i++) {
                        if (i > parseInt(pagination.totalPage)) {
                            break;
                        }

                        if (i == parseInt(pagination.pageIndex)) {
                            pagingHtml += '<li class="page-item active " style="display: inline-block;"><a class="page-link" href="javascript:void(0)" )>' + i + '</a></li>'
                        } else {
                            pagingHtml += '<li class="page-item " style="display: inline-block;"><a class="page-link" href="javascript:fnIpList(' + i + ')" )>' + i + '</a></li>'
                        }
                    }

                    if (parseInt(pagination.curSet) < parseInt(pagination.totalSet)) {
                        pagingHtml += '<li class="page-item next" style="display: inline-block;"><a href="javascript:void(0);" onClick="fnIpList(' + (Number(pagination.endPage) + 1) +
                            ')" class="page-link" >&gt;</a></li>'
                    }

                    // console.log(ipListTbody)
                    $('#userIpListTbody').append(ipListTbody);
                    $('#pagingUserIpList').append(pagingHtml);

                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
            } //function끝
        });
    }

    function fnGetIpList(mSeq) {
        fnIpList(1);
        $('#ip_list').modal('show');
    }

    function fnDeleteIp(seq) {
        $.ajax({
            url: '/m/deleteIp',
            dataType: 'json',
            type: 'POST',
            data: {
                seq: seq
            },
            success: function (result) {
                if (result.success) {
                    $('#ip_list').modal('hide');
                    fnAlertRefreshMessage('정상처리 되었습니다.');

                } else {
                    fnAlertMessage(result.message);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                wrapWindowByMaskHide();
                fnAlertMessage('정상적으로 처리되지 않았습니다.');
            } //function끝
        });
    }

    function fnInsertIp() {
        $.ajax({
            url: '/m/insertIp',
            dataType: 'json',
            type: 'POST',
            data: {
                admin_ip: $("#admin_ip").val()
            },
            success: function (result) {
                if (result.success) {
                    $('#ip_list').modal('hide');
                    fnAlertRefreshMessage('정상처리 되었습니다.');
                } else {
                    fnAlertMessage(result.message);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                wrapWindowByMaskHide();
                fnAlertMessage('정상적으로 처리되지 않았습니다.');
            } //function끝
        });
    }

    function fnIpList(idx) {
        wrapWindowByMaskShow();

        let pageIndex = parseInt(idx);

        $.ajax({
            url: '/m/getIpList',
            dataType: 'json',
            type: 'POST',
            data: {
                pageIndex: pageIndex
            },
            success: function (result) {
                wrapWindowByMaskHide();
                if (result.success) {
                    $('#ipListTbody').empty();
                    $('#pagingIpList').empty();
                    let ipList = result.data.ipList;
                    let ipListTbody = "";
                    ipListTbody += '<tr class="text-center">'
                    ipListTbody += '<td></td>'
                    ipListTbody += '<td><input type="text" class="form-input input-outline outline-search w-full" name="admin_ip" id="admin_ip" /></td>'
                    ipListTbody += '<td><button type="button" class="btn btn-approve px-8" onClick="fnInsertIp()">등록</button></td>'
                    ipListTbody += '</tr>'
                    if (ipList.length > 0) {
                        for (var ii = 0; ii < ipList.length; ii++) {
                            ipListTbody += '<tr class="text-center">'
                            ipListTbody += '<td>' + ipList[ii].create_dt + '</td>'
                            ipListTbody += '<td>' + ipList[ii].admin_ip + '</td>'
                            ipListTbody += '<td><button type="button" class="btn btn-approve px-8" onClick="fnDeleteIp(' + ipList[ii].seq + ')">삭제</button></td>'
                            ipListTbody += '</tr>'

                        }
                    } else {
                        ipListTbody += '<tr class="text-center">'
                        ipListTbody += '<td colspan="3"> == 내역 없음 == </td>'
                        ipListTbody += '</tr>'

                        $('#ipListFooter').empty();
                    }

                    let pagingHtml = "";
                    let pagination = result.data.pagination;

                    console.log('result.data.pagination : ' + JSON.stringify(result.data.pagination))

                    if (parseInt(pagination.curSet) > 1) {
                        pagingHtml += '<li class="page-item prev" style="display: inline-block;"><a href="javascript:void(0)" onClick="fnIpList(1);" class="page-link" href="#" tabindex="-1">&lt;</a></li>'
                    }
                    for (var i = parseInt(pagination.startPage); i <= parseInt(pagination.endPage); i++) {
                        if (i > parseInt(pagination.totalPage)) {
                            break;
                        }

                        if (i == parseInt(pagination.pageIndex)) {
                            pagingHtml += '<li class="page-item active " style="display: inline-block;"><a class="page-link" href="javascript:void(0)" )>' + i + '</a></li>'
                        } else {
                            pagingHtml += '<li class="page-item " style="display: inline-block;"><a class="page-link" href="javascript:fnIpList(' + i + ')" )>' + i + '</a></li>'
                        }
                    }

                    if (parseInt(pagination.curSet) < parseInt(pagination.totalSet)) {
                        pagingHtml += '<li class="page-item next" style="display: inline-block;"><a href="javascript:void(0);" onClick="fnIpList(' + (Number(pagination.endPage) + 1) +
                            ')" class="page-link" >&gt;</a></li>'
                    }

                    // console.log(ipListTbody)
                    $('#ipListTbody').append(ipListTbody);
                    $('#pagingIpList').append(pagingHtml);

                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
            } //function끝
        });
    }

    function fnViewAdminModal(mSeq) {
        $('#viewAdminModal').modal('show')
    }

    function fnViewAdminIns() {
        let id = $('#viewId').val();
        let pass = $('#viewPass').val();
        if (id == '') {
            fnAlertMessage('ID는 필수값입니다.');
        } else if (pass == '') {
            fnAlertMessage('password는 필수값입니다.');
        } else {

            $.ajax({
                url: '/m/mViewAdminIns',
                dataType: 'json',
                type: 'POST',
                data: {
                    memId: id,
                    memPass: pass
                },
                success: function (result) {
                    $('#viewAdminModal').modal('hide')
                    $('#viewId').val("");
                    $('#viewPass').val("");
                    if (result.success) {
                        fnAlertRefreshMessage('정상처리 되었습니다.');
                    } else {
                        fnAlertMessage(result.message);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    wrapWindowByMaskHide();
                    fnAlertMessage('정상적으로 처리되지 않았습니다.');
                } //function끝
            });
        }

    }

    function fnPasswordChangeModal(mSeq) {
        $('#passwordChangeModal').modal('show')
    }

    function fnPasswordChange() {
        let pass = $('#cngPassword').val();

        $.ajax({
            url: '/m/changeAdminPassword',
            dataType: 'json',
            type: 'POST',
            data: {
                pass: pass
            },
            success: function (result) {
                $('#passwordChangeModal').modal('hide')
                $('#cngPassword').val("");
                if (result.success) {
                    fnAlertMessage('정상처리 되었습니다.');
                } else {
                    fnAlertMessage(result.message);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#passwordChangeModal').modal('hide')
                fnAlertMessage('정상적으로 처리되지 않았습니다.');
            } //function끝
        });

    }

    function fnSearch() {
        let srchText = $('#srchText').val();
        let pageIndex = $('#pageIndex').val();

        var form = document.createElement("form");
        form.setAttribute("charset", "UTF-8");
        form.setAttribute("method", "Post");  //Post 방식
        form.setAttribute("action", "/s/m/view"); //요청 보낼 주소

        var hiddenField1 = document.createElement("input");
        hiddenField1.setAttribute("type", "hidden");
        hiddenField1.setAttribute("name", "pageIndex");
        hiddenField1.setAttribute("value", pageIndex);
        form.appendChild(hiddenField1);

        var hiddenField2 = document.createElement("input");
        hiddenField2.setAttribute("type", "hidden");
        hiddenField2.setAttribute("name", "srchText");
        hiddenField2.setAttribute("value", srchText);
        form.appendChild(hiddenField2);

        document.body.appendChild(form);
        form.submit();

    }

    function fnCmpnyCdModal(cmpnyCd) {
        $('#cmpnyCdText').html(cmpnyCd + '<span class="material-icons" onClick="fnCmpnyCdModalCopy(\'' + cmpnyCd + '\')" style="cursor:pointer">file_copy</span>')
        $('#cmpnyCd_detail').modal();
    }

    function fnCmpnyCdModalCopy(cmpnyCd) {
        $('#cmpnyCd_detail').hide();
        fnCopy(cmpnyCd);
    }


    function fnDetail() {

        $('#input_info1_bank').val($('#bank1').text());
        $('#input_info1_acc').val($('#bank3').text());
        $('#input_info1_name').val($('#bank2').text());
        $('#input_info2').val($('#bank4').val());
        $('#system-modify').modal('show');
    }

    function fnAdminModify() {

        let inputInfo1Bank = $('#input_info1_bank').val();
        let inputInfo1Acc = $('#input_info1_acc').val();
        let inputInfo1Name = $('#input_info1_name').val();
        let inputInfo2 = $('#input_info2').val();

        let acc_val = /[^0-9|-]/g;
        if (acc_val.test($('#input_info1_acc').val())) {
            fnAlertMessage('계좌번호는 숫자와 - 만 가능합니다.');
            return;
        }

        var form = document.createElement("form");
        form.setAttribute("charset", "UTF-8");
        form.setAttribute("method", "Post"); //Post 방식
        form.setAttribute("action", "/s/a/scu"); //요청 보낼 주소


        var hiddenField2 = document.createElement("input");
        hiddenField2.setAttribute("type", "hidden");
        hiddenField2.setAttribute("name", "inputInfo1Bank");
        hiddenField2.setAttribute("value", inputInfo1Bank);
        form.appendChild(hiddenField2);

        var hiddenField3 = document.createElement("input");
        hiddenField3.setAttribute("type", "hidden");
        hiddenField3.setAttribute("name", "inputInfo1Acc");
        hiddenField3.setAttribute("value", inputInfo1Acc);
        form.appendChild(hiddenField3);

        hiddenField4 = document.createElement("input");
        hiddenField4.setAttribute("type", "hidden");
        hiddenField4.setAttribute("name", "inputInfo1Name");

        hiddenField4.setAttribute("value", inputInfo1Name);
        form.appendChild(hiddenField4);

        hiddenField5 = document.createElement("input");
        hiddenField5.setAttribute("type", "hidden");
        hiddenField5.setAttribute("name", "inputInfo2");
        hiddenField5.setAttribute("value", inputInfo2);
        form.appendChild(hiddenField5);

        document.body.appendChild(form);
        form.submit();

    }

    function fnApiDown() {
        var openNewWindow = window.open("about:blank");
        openNewWindow.location.href = '/apidoc/NEW_API_DOC.pdf';
    }

    function fnViewApiKeyModal() {
        $("#apiKeyModal").modal('show');
    }

    function fnViewPointRateModal() {
        $("#pointRateModal").modal('show');
    }

    function fnUpdateRate() {
        let data = {
            coinRate: $("#coinRate").val(),
            point_view_yn: $("#point_view_yn").val(),
        }
        $.ajax({
            url: '/s/updateRate',
            dataType: 'json',
            type: 'POST',
            data: data,
            success: function (result) {
                $("#pointRateModal").modal('hide');
                if (result.success) {
                    fnAlertMessage('정상처리 되었습니다.');
                } else {
                    fnAlertMessage(result.message);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#pointRateModal").modal('hide');
                fnAlertMessage('정상적으로 처리되지 않았습니다.');
            } //function끝
        });
    }

    function fnSignUpViewModal() {
        $("#signUpViewModal").modal('show');
    }

    function fnUpdateSignView() {
        let data = {
            sign_yn: $("#sign_yn").val(),
        }
        $.ajax({
            url: '/s/updateSignUpView',
            dataType: 'json',
            type: 'POST',
            data: data,
            success: function (result) {
                $("#signUpViewModal").modal('hide');
                if (result.success) {
                    fnAlertMessage('정상처리 되었습니다.');
                } else {
                    fnAlertMessage(result.message);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#signUpViewModal").modal('hide');
                fnAlertMessage('정상적으로 처리되지 않았습니다.');
            } //function끝
        });
    }
</script>
</body>
<% include ../includes/js.ejs %>
<% include ../includes/footer.ejs %>

</html>