<div class="dataTable-bottom">
    <nav class="dataTable-pagination">
        <ul class="dataTable-pagination-list">
            <% let pagination = basicInfo.pagination;
            if(pagination.curSet > 1  ) { %>
            <li class="">
                <a href="javascript:void(0)" onclick="$('#pageIndex').val('<%=pagination.startPage -1 %>'); fnSearch();">
                    <i class="bx bx-chevron-left text-lg"></i>
                </a>
            </li>
            <% }
            for(var i = pagination.startPage; i <= pagination.endPage; i++){

                if(i > pagination.totalPage){break;}

            if(i == pagination.pageIndex){
            %>
            <li class="active">
                <a href="javascript:void(0)"><%=parseInt(i)%></a>

            </li>
            <% } else{  %>
            <li>
                <a href="javascript:void(0)" onclick="$('#pageIndex').val('<%=i%>'); fnSearch();"><%=parseInt(i)%></a>
            </li>
            <%  }
            }   %>
            <% if(pagination.curSet < pagination.totalSet){  %>
            <li class="">
                <a href="javascript:void(0)" onclick="$('#pageIndex').val('<%=pagination.startPage + 1 %>'); fnSearch();">
                    <i class="bx bx-chevron-right text-lg"></i>
                </a>
            </li>
            <%  }  %>
        </ul>
    </nav>
</div>