<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../includes/cdn.ejs %>
</head>

<body class="bg-neutral-200 md:mt-24 md:pt-0 md:pb-12 md:pr-8 md:pl-72">
<% include ../includes/mainHeader.ejs %>
<!-- Main Contents | Contents Start -->
<div class="max-w-screen-2xl mx-auto bg-brown p-5 rounded-3xl shadow-2xl shadow-neutral-900">
    <div class="content bg-brown-900 pb-16 shadow-2xl rounded-3xl">
        <div class="flex items-center pt-10 text-neutral-50">
            <i class="bx bx-coin-stack nav__icon"></i>
            <h2 class="pl-3 pt-1 text-sm lg:text-lg font-bold">회원관리</h2>
        </div>
        <!-- Select Box | 회원관리 검색  -->
        <div class="grid grid-cols-1 gap-6">
            <div class="col-span-12 lg:col-span-6">
                <div class="">
                    <div class="flex flex-col gap-2 lg:flex-row mt-3">
                        <div class="items-center">
                            <select class="form-select w-48 outlineform outlineform-secondary" aria-label=".form-select example" id="srchOption" name="gubun">
                                <option value="">=전체=</option>
                                <option value="CMDT00000000000019" <% if (basicInfo.search.option=='CMDT00000000000019' ) { %> selected <%}%> >
                                    회원아이디
                                </option>
                                <option value="CMDT00000000000020" <% if (basicInfo.search.option=='CMDT00000000000020' ) { %> selected <%}%> >
                                    회원이름
                                </option>
                            </select>
                        </div>
                        <div class="items-center">
                            <select class="form-select w-48 outlineform outlineform-secondary" aria-label=".form-select example" id="isCoin" name="gubun" onChange="javascript:$('#pageIndex').val(1)">
                                <option value="">=회원상태=</option>
                                <option value="CMDT00000000000030" <% if (basicInfo.status=='CMDT00000000000030' ) { %> selected <%}%> >
                                    정상
                                </option>
                                <option value="CMDT00000000000029" <% if (basicInfo.status=='CMDT00000000000029' ) { %> selected <%}%> >
                                    정지
                                </option>
                            </select>
                        </div>
                        <div class="items-center">
                            <select class="form-select w-48 outlineform outlineform-secondary" aria-label=".form-select example" id="status" name="gubun" onChange="javascript:$('#pageIndex').val(1)">
                                <option value="">=포인트보유여부=</option>
                                <option value="1" <% if (basicInfo.isCoin=='1' ) { %> selected <%}%> >
                                    보유
                                </option>
                                <option value="0" <% if (basicInfo.isCoin=='0' ) { %> selected <%}%> >
                                    미보유
                                </option>
                            </select>
                        </div>
                        <div class="w-full flex items-center gap-2">
                            <input type="text" class="form-input w-full outlineform outlineform-secondary" placeholder="선택에 해당하는 내용을 입력하세요." aria-label=".form-control example" value="<%=basicInfo.search.srchText%>" id="srchText" name="srchText"/>
                            <button class="btn btn-search w-24" onclick="fnSearch();">검색</button>
                            <input type="hidden" id="pageIndex" value="<%=basicInfo.pagination.pageIndex %>">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 mt-3">
            <div class="w-full text-right my-3 text-neutral-50">
                <select class="form-select w-48 outlineform outlineform-secondary" aria-label=".form-select example" id="rowsPerPage" name="rowsPerPage">
                    <option value="10" <% if (basicInfo.pagination.rowsPerPage=='10' ) { %> selected<%}%> >
                        10개씩 보기
                    </option>
                    <option value="20" <% if (basicInfo.pagination.rowsPerPage=='20' ) { %> selected<%}%> >
                        20개씩 보기
                    </option>
                    <option value="50" <% if (basicInfo.pagination.rowsPerPage=='50' ) { %> selected<%}%> >
                        50개씩 보기
                    </option>
                    <option value="100" <% if (basicInfo.pagination.rowsPerPage=='100' ) { %> selected<%}%> >
                        100개씩 보기
                    </option>
                </select>
            </div>
            <div class="overflow-x-auto">
                <table class="table-theme-3">
                    <colgroup>
                        <col width="0.5%" />
                        <col width="1%" />
                        <col width="0.5%" />
                        <col width="0.5%" />
                        <col width="2%" />
                        <col width="8%" />
                        <col width="8%" />
                        <col width="7%" />
                        <col width="10%" />
                        <col width="2%" />
                        <col width="2%" />
                        <col width="4%" />
                    </colgroup>
                    <thead class="">
                    <tr class="">
                        <th class="">No</th>
                        <th class="">아이디</th>
                        <th class="">이름</th>
                        <th class="">메일</th>
                        <th colspan="2" class="">보유포인트</th>
                        <th class="">등록계좌</th>
                        <th class="">회원상태</th>
                        <th class="">가입일자</th>
                        <th class="">정보수정</th>
                        <th class="">패스워드</th>
                        <th class="">내역</th>
                    </tr>
                    </thead>
                    <tbody class="">
                    <% if (basicInfo.memList.length> 0) {
                        var num = basicInfo.pagination.totalPageCount - ((basicInfo.pagination.pageIndex -1) *
                                basicInfo.pagination.rowsPerPage)
                    basicInfo.memList.forEach(function(el, index) { %>
                        <tr>
                            <td>
                                <%=num - index %>
                            </td>
                            <td>
                                <%=el.mem_id%>
                            </td>
                            <td>
                                <%=el.mem_nm%>
                            </td>
                            <td>
                                <%=el.mem_email%>
                            </td>
                            <td id="balance<%=index%>">
                                <%=el.balance%>
                            </td>
                            <td>
                                <div class="flex gap-2 text-center">
                                    <button type="button" class="btn btn-primary w-full" onclick="fnGetBalance('<%=el.m_seq%>','balance<%=index%>');">
                                        조회
                                    </button>
                                    <% if (user.adminGrade !='CMDT00000000000034' ) { %>
                                    <button type="button" class="btn btn-increase w-full" onclick="fnBalanceChangeModal('<%=el.m_seq%>','balance<%=index%>');">
                                        지급
                                    </button>
                                    <% } %>
                                </div>
                            </td>
                            <td>
                                <%=el.banks%>
                            </td>
                            <td>
                                <% if (user.adminGrade !='CMDT00000000000034' ) { %>
                                <select class="form-select outlineform outlineform-primary w-full" id="selMemStatus" name="gubun" onchange="fnMemStatusModal(this,'<%=el.mem_status%>','<%=el.mem_id%>')">
                                    <option value="CMDT00000000000030" <% if (el.mem_status=='CMDT00000000000030' ) { %> selected <%}%> >
                                        정상
                                    </option>
                                    <option value="CMDT00000000000029" <% if (el.mem_status=='CMDT00000000000029' ) { %> selected <%}%> >
                                        정지
                                    </option>
                                </select>
                                <% } else { %>
                                    <% if (el.mem_status=='CMDT00000000000030' ) { %>
                                        정상
                                    <% } else if (el.mem_status=='CMDT00000000000029' ) { %>
                                        정지
                                    <% } else if (el.mem_status=='CMDT00000000000028' ) { %>
                                        삭제
                                    <%} %>
                                <% } %>
                            </td>
                            <td>
                                <%=el.create_dt%>
                            </td>
                            <td class="">
                                <% if (user.adminGrade !='CMDT00000000000034' ) { %>
                                <button type="button" class="btn btn-primary px-7" onclick="fnMView('<%=el.m_seq%>','<%=el.mem_id%>','<%=el.mem_nm%>','<%=el.mem_hp%>','<%=el.mem_email%>','<%=el.nation%>','<%=el.bank_info%>','<%=el.bank_acc%>','<%=el.acc_nm%>','<%=el.coin_addr%>','<%=el.nftBanks%>');">
                                    수정
                                </button>
                                <% } %>
                            </td>
                            <td class="">
                                <% if (user.adminGrade !='CMDT00000000000034' ) { %>
                                <button type="button" class="btn btn-search px-7" onclick="fnPasswordChangeMOdal('<%=el.m_seq%>');">
                                    변경
                                </button>
                                <% } %>
                            </td>
                            <td class="">
                                <button type="button" class="btn btn-approve px-3" onclick="fnHistoryModal('<%=el.m_seq%>');">
                                    확인
                                </button>
                            </td>
                        </tr>
                    <% })} %>
                    </tbody>
                </table>
                <!-- START | Pagination -->
                <% include ../includes/paging.ejs %>
                <!-- END | Pagination -->
            </div>
        </div>
    </div>
</div>
</body>

<!-- Start | 변환 Modal Contents -->
<div class="modal fade" id="member-coin-change" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content px-5 bg-white w-full text-xs sm:text-sm rounded-lg">
            <!-- Modal Header | Start -->
            <div class="modal-header flex py-4 justify-between text-lg font-bold text-black">
                <h2 class="">지급</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="bx bx-x bx-sm"></i>
                </button>
            </div>
            <!-- Modal Header | End -->
            <!-- Modal Body | Start  -->
            <div class="modal-body border-t border-b border-gray-400 py-4">
                <table class="">
                    <colgroup>
                        <col width="25%" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                    </colgroup>
                    <tbody>
                    <tr class="">
                        <th class="bg-gray-800 w-40 text-white">상태</th>
                        <td class="pl-3">
                            <select class="h-full form-select outlineform outlineform-secondar w-full" aria-label=".form-select-sm" id="changeCode">
                                <option value="CMDT00000000000044">차감</option>
                                <option value="CMDT00000000000043">지급</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="bg-gray-800 w-40 text-white">수량</th>
                        <td class="pl-3">
                            <input class="h-full form-input outlineform outlineform-secondar w-full" type="text" name="coinBalance" id="coinBalance" placeholder="변경할 수량 입력"/>
                            <input type="hidden" id="coin_mSeq" value="" />
                            <input type="hidden" id="coin_id" value="" />
                        </td>
                    </tr>
                    <tr>
                        <th class="bg-gray-800 w-40 text-white">사유</th>
                        <td class="pl-3">
                            <input class="h-full form-input outlineform outlineform-secondar w-full" type="text" name="changeDesc" id="changeDesc" placeholder="사유"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Modal Body | End  -->
            <!-- Modal Footer | Start -->
            <div class="modal-footer text-right py-4">
                <button type="btn btn-cancel cursor-pointer px-8" data-bs-dismiss="modal" class="btn btn-cancel px-8">
                    취소
                </button>
                <button type="btn btn-approve cursor-pointer px-8" data-bs-dismiss="modal" class="btn btn-approve px-8" onclick="fnBalanceChange();">
                    변경
                </button>
            </div>
            <!-- END: Modal Footer -->
        </div>
    </div>
</div>
<!-- END | 변환 Modal Content  -->

<!-- Start | 회원상태 Modal Contents -->
<div class="modal fade" id="memChangeModal" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <input type="hidden" id="memStatus" value="" />
    <input type="hidden" id="memStatus_memId" value="" />
    <input type="hidden" id="prev_memStatus" value="" />
    <div class="modal-dialog">
        <div class="modal-content px-5 bg-white w-full text-xs sm:text-sm rounded-lg">
            <!-- Modal Header | Start -->
            <div class="modal-header flex py-4 justify-between text-lg font-bold text-black">
                <h2 class="" id="modalTitle">알림</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="bx bx-x bx-sm"></i>
                </button>
            </div>
            <!-- Modal Header | End -->
            <!-- Modal Body | Start  -->
            <div class="modal-body border-t border-b border-gray-400 text-lg font-bold py-4 text-center" id="memChangeModalText">

            </div>
            <!-- Modal Body | End  -->
            <!-- Modal Footer | Start -->
            <div class="modal-footer text-right py-4">
                <button type="button" class="btn btn-primary py-3 w-full shadow-lg" onclick="fnMemStatusAjax();">확인</button>
                <button type="button" class="btn btn-primary py-3 w-full shadow-lg" onclick="fnMemStatusCancel();">취소</button>
            </div>
        </div>
    </div>
</div>
<!-- END | 회원상태 Modal Contents -->

<!-- Start | 수정 Modal Contents  -->
<div class="modal fade" id="member-modify" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal Header | Start -->
        <div class="modal-content px-5 bg-white w-full text-xs sm:text-sm rounded-lg">
            <!-- Modal Header | Start -->
            <div class="modal-header flex py-4 justify-between text-lg font-bold text-black">
                <h2 class="">회원정보</h2>
                <a data-dismiss="modal" href="javascript:;" class="text-right">
                    <i class="bx bx-x bx-sm" data-bs-dismiss="modal"></i>
                </a>
            </div>
            <!-- Modal Header | End -->
            <!-- Modal Body | Start  -->
            <input type="hidden" id="mSeq" value="">
            <div class="border-t border-b border-gray-300 py-4 flex flex-col gap-2">
                <!-- ID -->
                <div class="flex flex-col gap-2">
                    <div class="flex">
                        <div class="flex gap-2 items-center w-full text-center">
                            <div class="bg-gray-800 text-white w-40 relative">
                                <h3 class="text-center py-2">ID</h3>
                                <span class="absolute top-0 right-0 mr-4 text-sm font-bold text-red-400">*</span>
                            </div>
                            <div class="w-full">
                                <h3 class="text-left outlineform bg-gray-200 py-2" id="memId"></h3>
                            </div>
                        </div>
                    </div>
                    <!-- 이름 -->
                    <div class="flex">
                        <div class="flex gap-2 items-center w-full text-center">
                            <div class="bg-gray-800 text-white w-40 relative">
                                <h3 class="text-center py-2">이름</h3>
                                <span class="absolute top-0 right-0 mr-4 text-sm font-bold text-red-400">*</span>
                            </div>
                            <div class="w-full">
                                <input class="form-input outlineform outlineform-search w-full" type="text" name="memName" id="memName"/>
                            </div>
                        </div>
                    </div>
                    <!-- HP -->
                    <div class="flex">
                        <div class="flex gap-2 items-center w-full text-center">
                            <div class="bg-gray-800 text-white w-40 relative">
                                <h3 class="text-center py-2">HP</h3>
                            </div>
                            <div class="w-full">
                                <input class="form-input outlineform outlineform-search w-full" type="text" name="memHp" id="memHp"/>
                            </div>
                        </div>
                    </div>
                    <!-- E-Mail -->
                    <div class="flex">
                        <div class="flex gap-2 items-center w-full text-center">
                            <div class="bg-gray-800 text-white w-40 relative">
                                <h3 class="text-center py-2">E-Mail</h3>
                            </div>
                            <div class="w-full">
                                <input class="form-input outlineform outlineform-search w-full" type="text" name="memEmail" id="memEmail"/>
                            </div>
                        </div>
                    </div>
                    <!-- 국가 -->
                    <div class="flex">
                        <div class="flex items-center gap-2 w-full text-center">
                            <div class="bg-gray-800 text-white w-40 relative">
                                <h3 class="text-center py-2">국가</h3>
                            </div>
                            <div class="w-full bg-white text-black form-check-input placeholder-gray-500">
                                <select class="form-select outlineform outlineform-search w-full bg-white" aria-label=".form-select-sm example" id="memNation">
                                    <option value="CMDT00000000000004">Korea South(+82)</option>
                                    <option value="CMDT00000000000005">Vietnam(+84)</option>
                                    <option value="CMDT00000000000006">USA(+1)</option>
                                    <option value="CMDT00000000000007">Cambodia(+855)</option>
                                    <option value="CMDT00000000000008">Indonesia(+62)</option>
                                    <option value="CMDT00000000000009">China(+86)</option>
                                    <option value="CMDT00000000000010">Japan(+81)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- 은행정보 -->
                    <div class="flex">
                        <div class="flex gap-2 items-center w-full text-center">
                            <div class="bg-gray-800 text-white w-40 relative">
                                <h3 class="text-center py-2">은행정보</h3>
                                <span class="absolute top-0 right-0 mr-4 text-sm font-bold text-red-400">*</span>
                            </div>
                            <div class="w-full">
                                <input class="form-input outlineform outlineform-search w-full" type="text" name="bankInfo" id="bankInfo"/>
                            </div>
                        </div>
                    </div>

                    <!-- 계좌번호 -->
                    <div class="flex">
                        <div class="flex gap-2 items-center w-full text-center">
                            <div class="bg-gray-800 text-white w-40 relative">
                                <h3 class="text-center py-2">계좌번호</h3>
                                <span class="absolute top-0 right-0 mr-4 text-sm font-bold text-red-400">*</span>
                            </div>
                            <div class="w-full">
                                <input class="form-input outlineform outlineform-search w-full" type="text" name="bankAcc" id="bankAcc"/>
                            </div>
                        </div>
                    </div>

                    <!-- 예금주 -->
                    <div class="flex">
                        <div class="flex gap-2 items-center w-full text-center">
                            <div class="bg-gray-800 text-white w-40 relative">
                                <h3 class="text-center py-2">예금주</h3>
                                <span class="absolute top-0 right-0 mr-4 text-sm font-bold text-red-400">*</span>
                            </div>
                            <div class="w-full">
                                <input class="form-input outlineform outlineform-search w-full" type="text" name="accNm" id="accNm"/>
                            </div>
                        </div>
                    </div>

                    <!-- NFTBANK -->
                    <div class="flex">
                        <div class="flex gap-2 items-center w-full text-center">
                            <div class="bg-gray-800 text-white w-40 relative">
                                <h3 class="text-center py-2">가상계좌</h3>
                                <span class="absolute top-0 right-0 mr-4 text-sm font-bold text-red-400"></span>
                            </div>
                            <div class="w-full">
                                <input class="form-input outlineform outlineform-search w-full" type="text" name="nftBanks" id="nftBanks" readonly/>
                            </div>
                        </div>
                    </div>

                    <!-- 지갑정보 -->

<!--                    <div class="flex">-->
<!--                        <div class="flex flex-col gap-2 items-center w-full text-center">-->
<!--                            <div class="bg-gray-800 text-white w-full relative">-->
<!--                                <h3 class="text-center py-2">지갑정보</h3>-->
<!--                                <span class="absolute top-0 right-0 mr-4 text-sm font-bold text-red-400">*</span>-->
<!--                            </div>-->
<!--                            <div class="relative bg-gray-200 w-full">-->
<!--                                <div class="py-2" id="coinAddr"></div>-->
<!--                                <a href="#n" class="absolute top-0 right-0 text-black"></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
            <!-- Modal Body | End  -->
            <!-- Modal Footer | Start -->
            <div class="modal-footer text-right py-4">
                <button class="btn btn-warning px-8" type="button" onclick="fnNftBankCancel();">가상계좌해지</button>
                <button class="btn btn-cancel px-8" type="button" data-bs-dismiss="modal">취소</button>
                <button class="btn btn-approve px-8" type="button" onclick="fnMSave();">
                    수정
                </button>
            </div>
            <!-- Modal Footer | End -->
        </div>
    </div>
</div>
<!-- End | 수정 Modal Contents  -->

<!-- Start | 패스워드변경 Modal Contents  -->
<div class="modal fade" id="password-change" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content px-5 bg-white w-full text-xs sm:text-sm rounded-lg">
            <!-- Modal Header | Start -->
            <div class="modal-header flex py-4 justify-between text-lg font-bold text-black">
                <h2 class="">패스워드변경</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="bx bx-x bx-sm"></i>
                </button>
            </div>
            <!-- Modal Header | End -->
            <!-- Modal Body | Start  -->
            <div class="modal-body border-t border-b border-gray-400 py-4">
                <div class="flex gap-2 py-2">
                    <h2 class="modal-title font-semibold w-full bg-gray-800 text-center text-white p-2">패스워드</h2>
                    <input class="h-full form-input outlineform outlineform-secondar w-full p-2" type="text" id="cngPassword" placeholder="변경할 패스워드 입력"/>
                    <input type="hidden" id="pass_mSeq" value="" />
                </div>
            </div>
            <!-- Modal Body | End  -->
            <!-- Modal Footer | Start -->
            <div class="modal-footer text-right py-4">
                <button type="button" class="btn btn-primary w-full p-2" onclick="fnPasswordChange();">변경</button>
            </div>
        </div>
    </div>
</div>
<!-- End | 패스워드변경 Modal Contents  -->

<!-- Start | 거래내역 Modal Contents  -->
<div class="modal fade" id="trade-history" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content px-5 bg-white w-full text-xs sm:text-sm rounded-lg">
            <!-- Modal Header | Start -->
            <!-- Modal Header | Start -->
            <div class="modal-header flex py-4 justify-between text-lg font-bold text-black">
                <h2 class="">회원이력</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="bx bx-x bx-sm"></i>
                </button>
            </div>
            <!-- Modal Header | End -->
            <!-- Modal Body | Start  -->
            <div class="modal-body border-t border-gray-400 py-4">
                <div class="text-center">
                    <div class="overflow-x-auto text-xs sm:text-sm w-full">
                        <table class="table-theme-5">
                            <thead class="bg-gray-800">
                            <tr class="bg-gray-800">
                                <th class="">처리 일자</th>
                                <th class="">처리 상태</th>
                                <th class="">포인트</th>
                            </tr>
                            </thead>
                            <tbody id="historyTbody">
                            </tbody>
                        </table>

                        <input type="hidden" id="history_mSeq" value="" />

                        <div class="mr-auto ml-auto text-center my-5">
                            <ul class="flex justify-center gap-2" id="pagingHistory">
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Pagination -->
            </div>
            <!-- Modal Body | End  -->
        </div>
    </div>
</div>
<!-- END | 거래내역 -->

<% include ../includes/js.ejs %>
<% include ../includes/footer.ejs %>

<script type="text/javascript">

    $(document).off('.data-api');

    $(document).ready(function () {
        $('#srchText').keypress(function (event) {
            if (event.which == 13) {
                fnSearch();
            }
        });


    });

    function fnSearch() {
        let srchText = $('#srchText').val();
        let pageIndex = $('#pageIndex').val();
        let srchOption = $('#srchOption option:selected').val();
        let rowsPerPage = $('#rowsPerPage option:selected').val();
        let isCoin = $('#isCoin option:selected').val();
        let status = $('#status option:selected').val();

        var form = document.createElement("form");
        form.setAttribute("charset", "UTF-8");
        form.setAttribute("method", "Post"); //Post 방식
        form.setAttribute("action", "/m/view"); //요청 보낼 주소

        var hiddenField1 = document.createElement("input");
        hiddenField1.setAttribute("type", "hidden");
        hiddenField1.setAttribute("name", "pageIndex");
        hiddenField1.setAttribute("value", pageIndex);
        form.appendChild(hiddenField1);
        var hiddenField2 = document.createElement("input");
        hiddenField2.setAttribute("type", "hidden");
        hiddenField2.setAttribute("name", "srchOption");
        hiddenField2.setAttribute("value", srchOption);
        form.appendChild(hiddenField2);
        var hiddenField3 = document.createElement("input");
        hiddenField3.setAttribute("type", "hidden");
        hiddenField3.setAttribute("name", "srchText");
        hiddenField3.setAttribute("value", srchText);
        form.appendChild(hiddenField3);
        var hiddenField4 = document.createElement("input");
        hiddenField4.setAttribute("type", "hidden");
        hiddenField4.setAttribute("name", "rowsPerPage");
        hiddenField4.setAttribute("value", rowsPerPage);
        form.appendChild(hiddenField4);
        var hiddenField5 = document.createElement("input");
        hiddenField5.setAttribute("type", "hidden");
        hiddenField5.setAttribute("name", "isCoin");
        hiddenField5.setAttribute("value", isCoin);
        form.appendChild(hiddenField5);
        var hiddenField6 = document.createElement("input");
        hiddenField6.setAttribute("type", "hidden");
        hiddenField6.setAttribute("name", "status");
        hiddenField6.setAttribute("value", status);
        form.appendChild(hiddenField6);


        document.body.appendChild(form);
        form.submit();
    }

    function fnWalletDetail(mSeq) {

        $.ajax({
            url: '/m/coin',
            dataType: 'json',
            type: 'POST',
            data: {
                mSeq: mSeq
            },
            success: function (result) {
                console.log(result)
                if (result.success) {
                    $('#objectAddress').val(result.data.coinInfo.address);
                    $('#objectBalance').val(result.data.coinInfo.token);
                    $('#wallet-modal').modal('show');

                    $('.wallet').on('click', function () {
                        alertMessage('Copy 되었습니다.');
                        var t = document.createElement("textarea");
                        document.getElementById('wallet-modal').appendChild(t);
                        t.value = result.data.coinInfo.address;
                        t.select();
                        document.execCommand('copy');
                        document.getElementById('wallet-modal').removeChild(t);
                    })

                } else {
                    fnAlertMessage('정상적으로 처리되지 않았습니다. 다시 시도하여 주세요!');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                fnAlertMessage('정상적으로 처리되지 않았습니다. 다시 시도하여 주세요!');
            } //function끝
        });
    }


    function fnMView(mSeq, memId, memName, memHp, memEmail, memNation, bankInfo, bankAcc, accNm, coinAddr, nftBanks) {

        $('#mSeq').val(mSeq)
        $('#memId').text(memId);
        $('#memName').val(memName);
        $('#memHp').val(memHp);
        $('#memEmail').val(memEmail);
        $('#memNation').val(memNation).attr('selected', 'selected');
        $('#bankInfo').val(bankInfo);
        $('#bankAcc').val(bankAcc);
        $('#accNm').val(accNm);
        $('#coinAddr').html(coinAddr + '<i class="bx bxs-copy-alt ml-1" onClick="fnCopy(\'' + coinAddr + '\')"></i>');
        $("#nftBanks").val(nftBanks)
        // $('#coinAddr').on("click", function(){
        //     fnCopy(coinAddr);
        // });
        $('#member-modify').modal('show');
    }

    function fnNftBankCancel() {
        let mSeq = $('#mSeq').val();
        $.ajax({
            url: '/m/nftBankCancel',
            dataType: 'json',
            type: 'POST',
            data: {
                mSeq: mSeq,
            },
            success: function (result) {
                $("#member-modify").modal('hide');
                if (result.success) {
                    fnAlertRefreshMessage("가상계좌가 해지 되었습니다.");
                } else {
                    fnAlertMessage("가상계좌해지가 실패 되었습니다.");
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#member-modify").modal('hide');
                fnAlertMessage("회원 수정이 실패 되었습니다.");
            }
        });
    }

    function fnMSave() {
        let mSeq = $('#mSeq').val();
        let memId = $('#memId').val();
        let memName = $('#memName').val();
        let memEmail = $('#memEmail').val();

        let memHp = $('#memHp').val();
        let memNation = $('#memNation option:selected').val();

        let bankInfo = $('#bankInfo').val();
        let bankAcc = $('#bankAcc').val();

        let accNm = $('#accNm').val();
        let coinAddr = $('#coinAddr').val();

        if (/[^0-9|-]/g.test(bankAcc)) {
            fnAlertMessage('계좌번호는 숫자와 - 만 가능합니다.');
            return;
        }

        $.ajax({
            url: '/m/ins',
            dataType: 'json',
            type: 'POST',
            data: {
                mSeq: mSeq,
                memId: memId,
                memName: memName,
                memEmail: memEmail,
                memHp: memHp,
                memNation: memNation,
                bankInfo: bankInfo,
                bankAcc: bankAcc,
                accNm: accNm
            },
            success: function (result) {
                $("#member-modify").modal('hide');
                if (result.success) {
                    fnAlertRefreshMessage("회원 수정 되었습니다.");
                } else {
                    fnAlertMessage("회원 수정이 실패 되었습니다.");
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#member-modify").modal('hide');
                fnAlertMessage("회원 수정이 실패 되었습니다.");
            }
        });

    }

    function fnGetBalance(mSeq, _id) {
        //wrapWindowByMaskShow();
        $.ajax({
            url: '/m/balance',
            dataType: 'json',
            type: 'POST',
            data: {
                mSeq: mSeq
            },
            success: function (result) {
                //wrapWindowByMaskHide();
                if (result.success) {
                    $('#' + _id).text(result.data.balance)
                    fnAlertMessage("조회에 성공 하였습니다.");
                } else {
                    fnAlertMessage("조회에 실패 하셨습니다.");
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                fnAlertMessage("조회에 실패 하셨습니다.");
            } //function끝
        });
    }

    function fnBalanceChangeModal(mSeq, _id) {
        $('#coin_mSeq').val(mSeq);
        $('#coin_id').val(_id);
        $('#changeCode').val('CMDT00000000000044').prop("selected", true);
        $('#coinBalance').val('');
        $('#changeDesc').val('');

        $("#member-coin-change").modal("show");


    }

    function fnBalanceChange() {
        let mSeq = $('#coin_mSeq').val();
        let _id = $('#coin_id').val();
        let changeCode = $('#changeCode option:selected').val();
        let coinBalance = $('#coinBalance').val();
        let changeDesc = $('#changeDesc').val();

        if (Number(coinBalance) <= 0) {
            $('#balanceChangeModal').modal('hide');
            fnAlertMessage('수량은 0보다 큰 값으로 입력해주세요.');
            return;
        } else {
            $.ajax({
                url: '/m/changeBalance',
                dataType: 'json',
                type: 'POST',
                data: {
                    mSeq: mSeq,
                    changeDesc: changeDesc,
                    coinBalance: coinBalance,
                    changeCode: changeCode
                },
                success: function (result) {
                    $('#balanceChangeModal').modal('hide')
                    if (result.success) {
                        $('#' + _id).text(result.data.balance)
                        fnAlertMessage('정상처리 되었습니다.');
                    } else {
                        fnAlertMessage(result.message);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $('#balanceChangeModal').modal('hide')
                    fnAlertMessage('정상적으로 처리되지 않았습니다. 다시 시도하여 주세요!');
                } //function끝
            });
        }
    }


    function fnPasswordChangeMOdal(mSeq) {
        $('#pass_mSeq').val(mSeq);
        $('#cngPassword').val("");
        $('#password-change').modal('show');
    }

    function fnPasswordChange() {
        let mSeq = $('#pass_mSeq').val();
        let pass = $('#cngPassword').val();

        $.ajax({
            url: '/m/changePassword',
            dataType: 'json',
            type: 'POST',
            data: {
                mSeq: mSeq,
                pass: pass
            },
            success: function (result) {
                if (result.success) {
                    $('#password-change').modal('hide');
                    fnAlertMessage('정상처리 되었습니다.');
                } else {
                    fnAlertMessage(result.message);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                fnAlertMessage('정상적으로 처리되지 않았습니다.');
            } //function끝
        });

    }

    function fnMemStatusModal(ev, prevMemStatus, memId) {
        $('#memStatus').val(ev.value);
        $('#memStatus_memId').val(memId)
        $('#prev_memStatus').val(prevMemStatus)

        if (ev.value == "CMDT00000000000030") {
            $('#memChangeModalText').html('회원 상태를 <p style="color:red;">정상</p> 상태로 변경합니다.')
        } else if (ev.value == "CMDT00000000000029") {
            $('#memChangeModalText').html('회원 상태를 <p style="color:red;">일시정지</p> 상태로 변경합니다.')
        } else if (ev.value == "CMDT00000000000028") {
            $('#memChangeModalText').html('회원 상태를 <p style="color:red;">영구삭제</p> 합니다. <br> 진행 하시겠습니까?')
        }
        $('#memChangeModal').modal('show')
    }

    function fnMemStatusCancel() {
        $('#selMemStatus option:selected').val($('#prev_memStatus').val());
        $('#memStatus').val("");
        $('#memStatus_memId').val("")
        $('#prev_memStatus').val("")
        $('#memChangeModal').modal('hide')
    }

    function fnMemStatusAjax() {
        //wrapWindowByMaskShow();
        $.ajax({
            url: '/m/mCngStatus',
            dataType: 'json',
            type: 'POST',
            data: {
                memStatus: $('#memStatus').val(),
                memId: $('#memStatus_memId').val()
            },
            success: function (result) {
                //wrapWindowByMaskHide();
                if (result.success) {
                    $('#memChangeModal').modal('hide')
                    fnAlertRefreshMessage('정상적으로 상태가 변경 되었습니다.');
                } else {
                    fnAlertMessage('정상적으로 처리되지 않았습니다.');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                fnAlertMessage('정상적으로 처리되지 않았습니다.');
            } //function끝
        });
    }

    function requestExcel() {
        let srchText = $('#srchText').val();
        let srchOption = $('#srchOption option:selected').val();
        let isCoin = $('#isCoin option:selected').val();
        let status = $('#status option:selected').val();

        $.ajax({
            url: '/m/excelList',
            dataType: 'json',
            type: 'POST',
            data: {
                srchText: srchText,
                srchOption: srchOption,
                isCoin: isCoin,
                status: status
            },
            success: function (result) {
                $('#passwordChangeModal').modal('hide')
                if (result.success) {
                    let memList = result.data.memList;
                    let html = "";
                    html += '<table class="table table-border-top-0 table-fixed" id="memberTable" style="display:none">'
                    html += '<colgroup><col width="10%"><col width="10%"><col width="8%"><col width="6%"><col width="10%"><col width="10%">'
                    html += '<col width="12%"><col width="10%"><col width="10%"></colgroup>'
                    html += '							<thead >'
                    html += '								<tr class="text-center">'
                    html += '									<th>그룹 ID </th>'
                    html += '									<th>그룹 NM </th>'
                    html += '									<th>아이디</th>'
                    html += '									<th>이름</th>'
                    html += '									<th>전화번호</th>'
                    html += '								  <th>메일</th>'
                    html += '								  <th>보유코인</th>'
                    html += '								  <th>등록계좌</th>'
                    html += '								  <th>가입일자</th>'
                    html += '								  <th>정지여부</th>'
                    html += '					</thead>'
                    html += '<tbody> '
                    for (var i = 0; i < memList.length; i++) {
                        html += '<tr class="text-center">'
                        html += '	<td>' + memList[i].cmpny_id + '</td>'
                        html += '	<td>' + memList[i].cmpny_nm + '</td>'
                        html += '	<td>' + memList[i].mem_id + '</td>'
                        html += '	<td>' + memList[i].mem_nm + '</td>'
                        html += '	<td>' + memList[i].mem_hp + '</td>'
                        html += '	<td>' + memList[i].mem_email + '</td>'
                        html += '	<td>' + memList[i].balance + '</td>'
                        html += '	<td>' + memList[i].banks + '</td>'
                        html += '	<td>' + memList[i].create_dt + '</td>'
                        if (memList[i].status == 'CMDT00000000000030') html += '	<td>정상</td>'
                        else html += '	<td>정지</td>'
                        html += '</tr>'
                    }
                    html += '</tbody>'
                    html += '</table>'

                    $('body').append(html);

                    $("#memberTable").table2excel({
                        exclude: ".excludeThisClass",
                        name: "회원관리",
                        filename: "회원등록관리.xls", // do include extension
                        preserveColors: false // set to true if you want background colors and font colors preserved
                    });

                } else {
                    fnAlertMessage(result.message);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                fnAlertMessage('정상적으로 처리되지 않았습니다.');
            } //function끝
        });

    }


    function fnHistoryModal(mSeq) {
        $('#history_mSeq').val(mSeq)
        fnHistory(1);
        $('#trade-history').modal('show');
    }

    function fnHistory(idx) {

        let mSeq = $('#history_mSeq').val();
        let pageIndex = parseInt(idx);

        $.ajax({
            url: '/m/history',
            dataType: 'json',
            type: 'POST',
            data: {
                mSeq: mSeq,
                pageIndex: pageIndex
            },
            success: function (result) {
                if (result.success) {
                    $('#historyTbody').empty();
                    $('#pagingHistory').empty();
                    let history = result.data.history;
                    let historyTbody = "";
                    if (history.length > 0) {
                        for (var ii = 0; ii < history.length; ii++) {
                            historyTbody += '<tr>'
                            historyTbody += '<td>' + history[ii].use_date + '</td>'
                            historyTbody += '<td>' + history[ii].type_info + '</td>'
                            historyTbody += '<td>' + addCommas(history[ii].amt) + '</td>'
                            historyTbody += '</tr>'
                        }
                    } else {
                        historyTbody += '<tr>'
                        historyTbody += '<td colspan="3"> == 내역 없음 == </td>'
                        historyTbody += '</tr>'

                        $('#historyFooter').empty();
                    }

                    let pagingHtml = "";
                    let pagination = result.data.pagination;

                    if (parseInt(pagination.curSet) > 1) {
                        pagingHtml += '<li class="bg-gray-100 w-8 text-xs py-2 border-solid border border-gray-200 shadow-lg cursor-pointer rounded-md" onClick="fnHistory(1);"><a href="javascript:void(0)">&lt;</a></li>'
                    }
                    for (var i = parseInt(pagination.startPage); i <= parseInt(pagination.endPage); i++) {
                        if (i > parseInt(pagination.totalPage)) {
                            break;
                        }

                        if (i == parseInt(pagination.pageIndex)) {
                            pagingHtml += '<li class="bg-gray-100 w-8 text-xs py-2 border-solid border border-gray-200 shadow-lg cursor-pointer rounded-md"><a href="javascript:void(0)" )>' + i + '</a></li>'
                        } else {
                            pagingHtml += '<li class="bg-gray-100 w-8 text-xs py-2 border-solid border border-gray-200 shadow-lg cursor-pointer rounded-md" onClick="fnHistory(' + i + ')"><a href="javascript:voind(0)" )>' + i + '</a></li>'
                        }
                    }

                    if (parseInt(pagination.curSet) < parseInt(pagination.totalSet)) {
                        pagingHtml += '<li class="bg-gray-100 w-8 text-xs py-2 border-solid border border-gray-200 shadow-lg cursor-pointer rounded-md" onClick="fnHistory(' + (Number(pagination.endPage) + 1) + ')"><a href="javascript:void(0);" >&gt;</a></li>'
                    }

                    $('#historyTbody').append(historyTbody);
                    $('#pagingHistory').append(pagingHtml);

                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
            } //function끝
        });
    }
</script>
</html>