<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../includes/cdn.ejs %>
</head>

<body>
    <% include ../includes/header.ejs %>
    <% include ../includes/sidebar.ejs %>
    <main id="main" class="main">
        <div class="pagetitle"><h1>회원사관리</h1>
        </div>
        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <br>
                            <div class="row mb-3">
                                <div class="col-sm-2">
                                    <select class="form-select" id="srchOption">
                                        <option value="">전체</option>
                                        <% if (basicInfo.companyListTotal.length> 0) {
                                        basicInfo.companyListTotal.forEach(function(el, index) { %>
                                            <option value="<%=el.cmpny_cd%>" <% if (basicInfo.search.srchOption == el.cmpny_cd ) { %> selected <%}%>><%=el.cmpny_id%></option>
                                        <% })} %>
                                    </select>
                                </div>
                                <div class="col-sm-7">
                                    <div class="input-group mb-3">
                                        <button type="button" class="btn btn-success" onclick="fnSearch();">검색</button>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-select" id="rowsPerPage" onchange="fnSearch();">
                                        <option value="10" <% if (basicInfo.search.rowsPerPage == '10' ) { %> selected <%}%>>10</option>
                                        <option value="20" <% if (basicInfo.search.rowsPerPage == '20' ) { %> selected <%}%>>20</option>
                                        <option value="50" <% if (basicInfo.search.rowsPerPage == '50' ) { %> selected <%}%>>50</option>
                                        <option value="100" <% if (basicInfo.search.rowsPerPage == '100' ) { %> selected <%}%>>100</option>
                                    </select>
                                </div>
                                <div class="col-sm-1" style="padding-top: 5px;">
                                    줄보기
                                </div>
                            </div>
                            <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                                <div class="dataTable-container">
                                    <table class="table datatable dataTable-table">
                                        <thead>
                                        <tr>
                                            <th scope="col">
                                                회원사
                                            </th>
                                            <th scope="col">
                                                상태
                                            </th>
                                            <th scope="col">
                                                회원사커미션
                                            </th>
                                            <th scope="col">
                                                에이전트
                                            </th>
                                            <th scope="col" >
                                                에이전트커미션
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <% if (basicInfo.companyList.length> 0) {
                                        basicInfo.companyList.forEach(function(el, index) { %>
                                            <tr>
                                                <td>
                                                    <%= el.cmpny_id%>
                                                </td>
                                                <td>
                                                    <%= el.cmpny_status_name%>
                                                </td>
                                                <% if (el.agent_id != null && el.agent_id != ''){%>
                                                    <td>
                                                        <%= el.company_commission%>
                                                    </td>
                                                    <td>
                                                        <%= el.agent_id%>
                                                    </td>
                                                    <td>
                                                        <%= el.agent_commission%>
                                                    </td>
                                                <%} else {%>
                                                    <% if (user.adminGrade == 'CMDT00000000000001'){%>
                                                        <td colspan="3">
                                                            <button type="button" class="btn btn-primary" onclick="fnMappingModal('<%= el.seq%>')" data-bs-toggle="modal" data-bs-target="#agentMappingModal">에이전트 등록 및 커미션 입력</button>
                                                        </td>
                                                    <%} else {%>
                                                        <td colspan="3"></td>
                                                    <%}%>
                                                <%}%>
                                            </tr>
                                        </tbody>
                                        <% }) %>
                                        <% } else { %>
                                            <tr>
                                                <td class="text-center" colspan="5">
                                                    데이터가 없습니다.
                                                </td>
                                            </tr>
                                        <% }%>
                                    </table>
                                </div>
                                <% include ../includes/paging.ejs %>
                                <input type="hidden" id="pageIndex" value="<%=basicInfo.pagination.pageIndex %>">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal fade" id="agentMappingModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">회원사 관리</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="fnResetModal();"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row mb-3">
                            <label class="col-sm-4 col-form-label">회원사 커미션</label>
                            <div class="col-sm-6"><input type="text" id="company_commission" class="form-control form-control" value="" onkeyup="inputOnlyFloatFixed(this)" >
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label class="col-sm-4 col-form-label">에이전트 ID</label>
                            <div class="col-sm-6">
                                <select class="form-select" id="agent_seq">
                                    <% if (basicInfo.agentList.length> 0) {
                                    basicInfo.agentList.forEach(function(el, index) { %>
                                    <option value="<%=el.seq%>"><%=el.agent_id%></option>
                                    <% })} %>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label class="col-sm-4 col-form-label">에이전트 커미션</label>
                            <div class="col-sm-6"><input type="text" id="agent_commission" class="form-control form-control" value="" onkeyup="inputOnlyFloatFixed(this)">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"  class="btn btn-success" onclick="fnCompanyProc();">등록</button>
                    </div>
                </div>
            </div>
        </div>
    <input type="hidden" id="companySeq" value="" />
    </main>

    <% include ../includes/footer.ejs %>
    <% include ../includes/modal.ejs %>
    <% include ../includes/js.ejs %>
</body>
</html>
<script>
    function fnSearch() {
        let srchText = $('#srchText').val();
        let srchOption = $('#srchOption option:selected').val();
        let pageIndex = $('#pageIndex').val();
        let rowsPerPage = $('#rowsPerPage').val();


        var form = document.createElement("form");
        form.setAttribute("charset", "UTF-8");
        form.setAttribute("method", "Post"); //Post 방식
        form.setAttribute("action", "/c/view"); //요청 보낼 주소

        var hiddenField1 = document.createElement("input");
        hiddenField1.setAttribute("type", "hidden");
        hiddenField1.setAttribute("name", "pageIndex");
        hiddenField1.setAttribute("value", pageIndex);
        form.appendChild(hiddenField1);
        var hiddenField2 = document.createElement("input");
        hiddenField2.setAttribute("type", "hidden");
        hiddenField2.setAttribute("name", "srchText");
        hiddenField2.setAttribute("value", srchText);
        form.appendChild(hiddenField2);
        var hiddenField3 = document.createElement("input");
        hiddenField3.setAttribute("type", "hidden");
        hiddenField3.setAttribute("name", "srchOption");
        hiddenField3.setAttribute("value", srchOption);
        form.appendChild(hiddenField3);
        var hiddenField4 = document.createElement("input");
        hiddenField4.setAttribute("type", "hidden");
        hiddenField4.setAttribute("name", "rowsPerPage");
        hiddenField4.setAttribute("value", rowsPerPage);
        form.appendChild(hiddenField4);

        document.body.appendChild(form);
        form.submit();
    }


    function inputOnlyFloatFixed(obj) {
        let prev = '';
        let regexp = /^\d*(\.\d{0,2})?$/;
        if(obj.value.search(regexp) == -1){
            alertModal('소숫점 두자리 까지만 입력 가능합니다.');
            obj.value = prev;
        }
    }

    //모달창 초기화
    // function resetMappingModal(){
    //     $("#company_commission").val('');
    //     $("#agent_seq").val('');
    //     $("#agent_commission").val('');
    //     $("#companySeq").val('');
    // }

    //모달창 띄울때 업체 seq 셋팅
    function fnMappingModal(seq){
        $("#companySeq").val(seq);
    }

    //에이전트 및 커미션 등록
    function fnCompanyProc(){

        let company_commission  =   $("#company_commission").val();
        let agent_seq           =   $("#agent_seq").val();
        let agent_commission    =   $("#agent_commission").val();

        if (!nullChk(company_commission)) {
            alertModal("회원사 커미션을 입력해주세요");
            return;
        }else if (!nullChk(agent_seq)) {
            alertModal("에이전트 ID를 선택해 주세요.");
            return;
        }else if(!nullChk(agent_commission)){
            alertModal("에이전트 커미션을 입력해주세요.");
            return;
        }

        wrapWindowByMaskShow();
        let data = {};
        data.seq                    = $("#companySeq").val();
        data.company_commission     = company_commission;
        data.agent_seq              = agent_seq;
        data.agent_commission       = agent_commission;

        $.ajax({
            url: "/c/companyProc",
            dataType: "json",
            type: "POST",
            data: data,
            success: function(result) {
                wrapWindowByMaskHide();
                if (result.success) {
                    fnCompanyProcAlert();
                } else {
                    alertModal(result.message);
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                wrapWindowByMaskHide();
            },
        });
    }

    function fnCompanyProcAlert() {
        Swal.fire({
            text: '처리되었습니다.',
            confirmButtonText: "확인",
            showCancelButton: false,
        }).then((result) => {
            if (result.isConfirmed) {
                location.reload();
            }
        });
        fnEventPrevent();
    }


</script>