<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../includes/cdn.ejs %>
</head>

<body>
    <% include ../includes/header.ejs %>
    <% include ../includes/sidebar.ejs %>
    <main id="main" class="main">
        <div class="pagetitle"><h1>에이전트 관리</h1>
        </div>
        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <br>
                            <div class="row mb-3">
                                <div class="col-sm-2">
                                    <select class="form-select" id="srchOption">
                                        <option value="">전체</option>
                                        <option value="01" <% if (basicInfo.search.srchOption == '01' ) { %> selected <%}%>>ID</option>
                                        <option value="02" <% if (basicInfo.search.srchOption == '02' ) { %> selected <%}%>>예금주명</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="srchText" value="<%=basicInfo.search.srchText%>" maxlength="30">
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="input-group mb-3">
                                        <button type="button" class="btn btn-success" onclick="fnSearch();">검색</button>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="input-group mb-3">
                                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#agentmodal">에이전트 등록</button>
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-2">
                                    <select class="form-select" id="rowsPerPage" onchange="fnSearch();">
                                        <option value="10" <% if (basicInfo.search.rowsPerPage == '10' ) { %> selected <%}%>>10</option>
                                        <option value="20" <% if (basicInfo.search.rowsPerPage == '20' ) { %> selected <%}%>>20</option>
                                        <option value="50" <% if (basicInfo.search.rowsPerPage == '50' ) { %> selected <%}%>>50</option>
                                        <option value="100" <% if (basicInfo.search.rowsPerPage == '100' ) { %> selected <%}%>>100</option>
                                    </select>
                                </div>
                                <div class="col-sm-1" style="padding-top: 5px;">
                                    줄보기
                                </div>
                            </div>
                            <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                                <div class="dataTable-container">
                                    <table class="table datatable dataTable-table">
                                        <thead>
                                        <tr>
                                            <th scope="col" class="text-center">
                                                IDX
                                            </th>
                                            <th scope="col">
                                                에이전트 ID
                                            </th>
                                            <th scope="col">
                                                예금주
                                            </th>
                                            <th scope="col">
                                                은행명
                                            </th>
                                            <th scope="col" >
                                                계좌번호
                                            </th>
                                            <th scope="col" >
                                                등록일
                                            </th>
                                            <th scope="col" >
                                               상세
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <% if (basicInfo.agentList.length> 0) {
                                        var num = (basicInfo.pagination.pageIndex - 1) * 10
                                        basicInfo.agentList.forEach(function(el, index) { %>
                                            <tr>
                                                <td class="text-center">
                                                    <%=num + index + 1 %>
                                                </td>
                                                <td>
                                                    <%= el.agent_id%>
                                                </td>
                                                <td>
                                                    <%= el.acc_nm%>
                                                </td>
                                                <td>
                                                    <%= el.bank_nm%>
                                                </td>
                                                <td>
                                                    <%= el.bank_acc%>
                                                </td>
                                                <td>
                                                    <%= el.create_dt%>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" onclick="fnInfoModal('<%= el.seq%>')" data-bs-toggle="modal" data-bs-target="#agentmodal">상세</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <% }) %>
                                        <% } else { %>
                                            <tr>
                                                <td class="text-center" colspan="8">
                                                    데이터가 없습니다.
                                                </td>
                                            </tr>
                                        <% }%>
                                    </table>
                                </div>
                                <% include ../includes/paging.ejs %>
                                <input type="hidden" id="pageIndex" value="<%=basicInfo.pagination.pageIndex %>">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal fade" id="agentmodal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">에이전트</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="fnResetModal();"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row mb-3">
                            <label class="col-sm-2 col-form-label">ID</label>
                            <div class="col-sm-10"><input type="text" id="agent_id" class="form-control form-control" value="" >
                            </div>
                        </div>
                        <div class="form-group row mb-3" id="pwArea">
                            <label class="col-sm-2 col-form-label">비밀번호</label>
                            <div class="col-sm-10"><input type="text" id="agent_pw" class="form-control form-control" value="" >
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label class="col-sm-2 col-form-label">은행명</label>
                            <div class="col-sm-10"><input type="text" id="bank_nm" class="form-control form-control" value="" >
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label class="col-sm-2 col-form-label">예금주</label>
                            <div class="col-sm-10"><input type="text" id="acc_nm" class="form-control form-control" value="" >
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label class="col-sm-2 col-form-label">계좌</label>
                            <div class="col-sm-10"><input type="text" id="bank_acc" class="form-control form-control" onkeyup="inputOnlyNumber(this)">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="agentModalBtn" class="btn btn-success" onclick="fnAgentProc('I');">등록</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <input type="hidden" id="seq" value="">
    <% include ../includes/footer.ejs %>
    <% include ../includes/modal.ejs %>
    <% include ../includes/js.ejs %>
</body>
</html>
<script>

    function fnInfoModal(seq){
        let data = {};
        data.seq        = seq;

        $.ajax({
            url: "/a/agentInfo",
            dataType: "json",
            type: "POST",
            data: data,
            success: function(result) {
                if (result.success) {
                    let res = result.data;
                    $("#seq").val(res.seq);
                    $("#agent_id").val(res.agent_id);
                    $("#agent_id").attr('readonly' , true);
                    $("#agent_pw").val('');
                    $("#pwArea").hide()
                    $("#bank_nm").val(res.bank_nm);
                    $("#acc_nm").val(res.acc_nm);
                    $("#bank_acc").val(res.bank_acc);
                    $("#agentModalBtn").text('수정' );
                    $("#agentModalBtn").attr('onclick' , "fnAgentProc('U')");
                } else {
                    alertModal('잠시후 다시 시도해주세요.');
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alertModal('잠시후 다시 시도해주세요.');
            },
        });
    }

    function fnResetModal(){
        $("#seq").val('');
        $("#agent_id").val('');
        $("#agent_pw").val('');
        $("#bank_nm").val('');
        $("#acc_nm").val('');
        $("#bank_acc").val('');
        $("#agent_id").attr('readonly' , false);
    }

    function fnSearch() {
        let srchText = $('#srchText').val();
        let srchOption = $('#srchOption option:selected').val();
        let pageIndex = $('#pageIndex').val();
        let rowsPerPage = $('#rowsPerPage').val();
        let srtDt = $('#srtDt').val();
        let endDt = $('#endDt').val();


        let form = document.createElement("form");
        form.setAttribute("charset", "UTF-8");
        form.setAttribute("method", "Post"); //Post 방식
        form.setAttribute("action", "/a/view"); //요청 보낼 주소

        let hiddenField1 = document.createElement("input");
        hiddenField1.setAttribute("type", "hidden");
        hiddenField1.setAttribute("name", "pageIndex");
        hiddenField1.setAttribute("value", pageIndex);
        form.appendChild(hiddenField1);
        let hiddenField2 = document.createElement("input");
        hiddenField2.setAttribute("type", "hidden");
        hiddenField2.setAttribute("name", "srchText");
        hiddenField2.setAttribute("value", srchText);
        form.appendChild(hiddenField2);
        let hiddenField3 = document.createElement("input");
        hiddenField3.setAttribute("type", "hidden");
        hiddenField3.setAttribute("name", "srchOption");
        hiddenField3.setAttribute("value", srchOption);
        form.appendChild(hiddenField3);
        let hiddenField4 = document.createElement("input");
        hiddenField4.setAttribute("type", "hidden");
        hiddenField4.setAttribute("name", "rowsPerPage");
        hiddenField4.setAttribute("value", rowsPerPage);
        form.appendChild(hiddenField4);
        let hiddenField5 = document.createElement("input");
        hiddenField5.setAttribute("type", "hidden");
        hiddenField5.setAttribute("name", "srtDt");
        hiddenField5.setAttribute("value", srtDt);
        form.appendChild(hiddenField5);
        let hiddenField6 = document.createElement("input");
        hiddenField6.setAttribute("type", "hidden");
        hiddenField6.setAttribute("name", "endDt");
        hiddenField6.setAttribute("value", endDt);
        form.appendChild(hiddenField6);

        document.body.appendChild(form);
        form.submit();
    }

    function fnAgentProc(state){
        let chk = true;
        let seq      = $("#seq").val();
        let agent_id = $("#agent_id").val();
        let agent_pw = $("#agent_pw").val();
        let bank_nm  = $("#bank_nm").val();
        let acc_nm   = $("#acc_nm").val();
        let bank_acc = $("#bank_acc").val();

        if(!nullChk(agent_id)){
            alertModal('아이디를 입력하세요');
            chk = false;
        }else if(!nullChk(agent_pw)){
            if(state == 'I'){
                alertModal('비밀번호를 입력하세요');
                chk = false;
            }
        }else if(!nullChk(bank_nm)){
            alertModal('은행명을 입력하세요');
            chk = false;
        }else if(!nullChk(acc_nm)){
            alertModal('예금주를 입력하세요');
            chk = false;
        }else if(!nullChk(bank_acc)){
            alertModal('계좌번호를 입력하세요');
            chk = false;
        }

        if(chk){
            wrapWindowByMaskShow();
            let data = {};
            data.seq        = seq;
            data.agent_id   = agent_id;
            data.agent_pw   = agent_pw;
            data.bank_nm    = bank_nm;
            data.acc_nm     = acc_nm;
            data.bank_acc   = bank_acc;

            $.ajax({
                url: "/a/agentProc",
                dataType: "json",
                type: "POST",
                data: data,
                success: function(result) {
                    wrapWindowByMaskHide();
                    if (result.success) {
                        fnAgentProcAlert(state);
                    } else {
                        alertModal(result.message);
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    wrapWindowByMaskHide();
                },
            });
        }
    }


    function fnAgentProcAlert(state) {
        let txt = '등록';
        if(state == 'U'){
            txt = '수정';
        }
        Swal.fire({
            text: '에이전트 '+txt+'이 완료되었습니다.',
            confirmButtonText: "확인",
            showCancelButton: false,
        }).then((result) => {
            if (result.isConfirmed) {
                location.reload();
            }
        });
        fnEventPrevent();
    }

    function fnEventPrevent(event) {
        if (!window.event) {
            return false;
        } else {
            window.event.returnValue = false; //IE
        }
    }

</script>