<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../includes/cdn.ejs %>
</head>
<body class="bg-gray-50 md:mt-24 md:pt-0 md:pb-12 md:pr-8 md:pl-72">
<% include ../includes/mainHeader.ejs %>
<!-- Main Contents | Contents Start -->
<div class="max-w-screen-2xl mx-auto bg-brown p-5 rounded-3xl shadow-2xl shadow-neutral-900">
    <div class="content bg-brown-900 pb-16 shadow-2xl rounded-3xl">
        <div class="intro-y flex items-center pt-10 text-neutral-50">
            <i class="bx bx-coin-stack"></i>
            <h2 class="pl-3 pt-1 text-sm lg:text-lg font-bold">구매관리</h2>
        </div>
        <div class="grid grid-cols-1 gap-6">
            <div class="intro-y col-span-12 lg:col-span-6">
                <div class="">
                    <!-- Search__selection--items -->
                    <input type="hidden" id="srtDt" name="srtDt" value="<%=basicInfo.search.srtDt%>" >
                    <input type="hidden" id="endDt" anme="endDt" value="<%=basicInfo.search.endDt%>" >
                    <div class="flex flex-col gap-2 lg:flex-row mt-3">
                        <div class="flex flex-row gap-2 items-center">
                            <select class="form-select outlineform outlineform-secondary w-48" aria-label=".form-select example" id="srchOption" onchange="javascript:$('#pageIndex').val(1)">
                                <option value="">=선택=</option>
                                <option value="CMDT00000000000019" <% if (basicInfo.search.option == 'CMDT00000000000019') { %> selected <%}%> >회원아이디</option>
                                <option value="CMDT00000000000020" <% if (basicInfo.search.option == 'CMDT00000000000020') { %> selected <%}%> >회원이름</option>
                                <option value="CMDT00000000000047" <% if (basicInfo.search.option == 'CMDT00000000000047') { %> selected <%}%> >금액</option>
                            </select>
                            <select class="form-select outlineform outlineform-secondary w-48" aria-label=".form-select example" id="srchBuySts" onchange="javascript:$('#pageIndex').val(1)">
                                <option value="">=입금상태=</option>
                                <option value="CMDT00000000000024" <% if (basicInfo.search.buysts == 'CMDT00000000000024') { %> selected <%}%> >입금 요청</option>
                                <option value="CMDT00000000000026" <% if (basicInfo.search.buysts == 'CMDT00000000000026') { %> selected <%}%> >입금 확인</option>
                                <option value="CMDT00000000000027" <% if (basicInfo.search.buysts == 'CMDT00000000000027') { %> selected <%}%> >입금 취소</option>
                            </select>
                        </div>
                        <div class="w-full flex items-center gap-2">
                            <input type="text" class="form-input outlineform outlineform-secondary w-full" placeholder="선택에 해당하는 내용을 입력하세요." aria-label=".form-control example" id="srchText"/>
                            <button class="btn btn-search w-24" onclick="fnSearch();">검색</button>
                            <input type="hidden" id="pageIndex" value="<%=basicInfo.pagination.pageIndex %>">
                        </div>
                    </div>
                    <div class="flex flex-col gap-2 lg:flex-row mt-3 justify-end">
                        <div class="flex items-center w-auto">
                            <select class="form-select outlineform outlineform-secondary w-48" aria-label=".form-select example" id="rowsPerPage" name="rowsPerPage">
                                <option value="10" <% if (basicInfo.pagination.rowsPerPage == '10') { %> selected<%}%> >10개씩 보기</option>
                                <option value="20" <% if (basicInfo.pagination.rowsPerPage == '20') { %> selected<%}%> >20개씩 보기</option>
                                <option value="50" <% if (basicInfo.pagination.rowsPerPage == '50') { %> selected<%}%> >50개씩 보기</option>
                                <option value="100" <% if (basicInfo.pagination.rowsPerPage == '100') { %> selected<%}%> >100개씩 보기</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 gap-6 mt-3">
            <div class="flex flex-col">
                <div class="w-full bg-white rounded-md shadow">
                    <div class="text-sm overflow-x-auto">
                        <table class="table-theme-3">
                            <thead class="">
                            <tr>
                                <th class="">입금금액</th>
                                <th class="">판매금액</th>
                                <th class="">사용포인트</th>
                                <th class="">미사용포인트</th>
                                <th class="">지급포인트</th>
                                <th class="">차감포인트</th>
                            </tr>
                            </thead>
                            <tbody class="">
                            <tr class="">
                                <% if (parseInt(basicInfo.tot_buy_num) > 0) { %>
                                <td class="font-bold" id="tot_buy_num"><%=basicInfo.tot_buy_num.toLocaleString('ko-KR') %></td>
                                <% } else { %>
                                    <td class="font-bold" id="tot_buy_num">0</td>
                                <% } %>
                                <% if (parseInt(basicInfo.tot_buy_num) > 0) { %>
                                <td id="tot_pay_num"><%=basicInfo.tot_buy_num.toLocaleString('ko-KR') %></td>
                                <% } else { %>
                                    <td id="tot_pay_num">0</td>
                                <% } %>
                                <% if (parseInt(basicInfo.tot_trans_num) > 0) { %>
                                <td class="font-bold" id="tot_trans_num"><%=basicInfo.tot_trans_num.toLocaleString('ko-KR') %></td>
                                <% } else { %>
                                    <td class="font-bold" id="tot_trans_num">0</td>
                                <% } %>
                                <% if (parseInt(basicInfo.totBalance) > 0) { %>
                                <td id="totBalance"><%=basicInfo.totBalance.toLocaleString('ko-KR') %></td>
                                <% } else { %>
                                    <td id="totBalance">0</td>
                                <% } %>
                                <% if (parseInt(basicInfo.increaseBalance) > 0) { %>
                                <td class="font-bold" id="increaseBalance"><%=basicInfo.increaseBalance.toLocaleString('ko-KR') %></td>
                                <% } else { %>
                                    <td iclass="font-bold" d="increaseBalance">0</td>
                                <% } %>
                                <% if (parseInt(basicInfo.decreaseBalance) > 0) { %>
                                <td class="font-bold" id="decreaseBalance"><%=basicInfo.decreaseBalance.toLocaleString('ko-KR') %></td>
                                <% } else { %>
                                    <td class="font-bold" id="decreaseBalance">0</td>
                                <% } %>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="w-full text-neutral-50 rounded-md shadow mt-3 overflow-y-auto">
                    <!-- STart | Table -->
                    <div class="w-full mt-3 text-xs text-center overflow-x-auto">
                        <table class="table-theme-3">
                            <thead>
                            <tr class="">
                                <th class="">No</th>
                                <th class="">아이디</th>
                                <th class="">이름</th>
                                <th class="">구매금액</th>
                                <th class="">입금자명</th>
                                <th class="">상태</th>
                                <th class="">요청일자</th>
                                <th class="">승인/취소</th>
                                <th class="">처리일자</th>
                            </tr>
                            </thead>
                            <tbody class="" id="tbodyList">
                            <% if (basicInfo.coinList.length > 0) {
                                var num = basicInfo.pagination.totalPageCount - ((basicInfo.pagination.pageIndex -1) * basicInfo.pagination.rowsPerPage)
                                basicInfo.coinList.forEach(function(el, index) { %>
                                <tr class="">
                                    <td class=""><%=num - index %></td>
                                    <td class="">
                                        <% if (el.sell_sts == 'CMDT00000000000026') { %>
                                            <a href="#n" onclick="fnNftBuyList('<%=el.buySeq%>');">
                                                <%=el.mem_id%>
                                            </a>
                                        <% } else { %>
                                            <%=el.mem_id%>
                                        <% } %>
                                    </td>
                                    <td class=""><%=el.mem_nm%></td>
                                    <td class=""><%=Number(el.buy_num).toLocaleString('ko-KR')%></td>
                                    <td class="">
                                        <span class="font-semibold"><%=el.bank%></span>
                                    </td>
                                    <% if (el.sell_sts == 'CMDT00000000000024' ) { %>
                                    <td class="">
                                        <span class="badge badge-search"><%=el.sell_sts_name%></span>
                                    </td>
                                    <% } else if (el.sell_sts == 'CMDT00000000000027' ) { %>
                                    <td class="">
                                        <span class="badge badge-cancel"><%=el.sell_sts_name%></span>
                                    </td>

                                    <% } else if (el.sell_sts == 'CMDT00000000000026' ) { %>
                                    <td class="">
                                        <span class="badge badge-approve"><%=el.sell_sts_name%></span>
                                    </td>

                                    <% } else if (el.sell_sts == 'CMDT00000000000043' ) { %>
                                    <td class="">
                                        <span class="badge badge-increase"><%=el.sell_sts_name%></span>
                                    </td>

                                    <% } else if (el.sell_sts == 'CMDT00000000000044' ) { %>
                                    <td class="">
                                        <span class="badge badge-secondary"><%=el.sell_sts_name%></span>
                                    </td>
                                    <% } %>
                                    <td class=""><%=el.create_dt%></td>
                                    <td class="">
                                        <% if (el.sell_sts == 'CMDT00000000000024' && user.adminGrade != 'CMDT00000000000034') { %>
                                        <a href='javascript:void(0)'>
                                            <span class="badge badge-search" onclick="fnBuyStsCng('<%=el.buySeq%>','CMDT00000000000026');">승인</span>
                                        </a>
                                        <a href='javascript:void(0)'>
                                            <span class="badge badge-search" onclick="fnBuyStsCng('<%=el.buySeq%>','CMDT00000000000027');">취소</span>
                                        </a>
                                        <% } %>
                                    </td>
                                    <td class=""><%=el.update_dt%></td>
                                </tr>
                            <% })} %>
                            </tbody>
                        </table>
                        <!-- START | Pagination -->
                        <% include ../includes/paging.ejs %>
                        <!-- END | Pagination -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<% include ../includes/js.ejs %>
<% include ../includes/footer.ejs %>

<script>
    var newAlram = null;
    let timer = 3000;
    let isActive = false;
    $(document).ready(function () {

        $('#srchText').keypress(function (event) {
            if (event.which == 13) {
                fnSearch();
            }
            ;
        });

        const myAudio = document.getElementById("myAudio")

        console.log("getCookie('selectAudio') : " + getCookie('selectAudio'));


        if (getCookie('selectAudio') != undefined) {
            $('#selectAudio').val(getCookie('selectAudio'))
        }

        if (getCookie('alram_check_box_switch') == 'true') {
            $('#alram_check_box_switch').prop('checked', true)

        }

        if (getCookie('reflash_check_box_switch') == 'true') {
            $('#reflash_check_box_switch').prop('checked', true);
            if (getCookie('new_check_box_switch') == 'true') {
                isActive = true;
                setTimeout(fnNewAlram, timer)
            }
        }

        if (getCookie('new_check_box_switch') == 'true') {
            $('#new_check_box_switch').prop('checked', true)
        }


        $('#alram_check_box_switch').on('click', function () {
            if ($('#alram_check_box_switch').prop('checked')) {
                setCookie('alram_check_box_switch', 'true', '365');
            } else {
                setCookie('alram_check_box_switch', 'false', '0');
            }
        });

        $('#reflash_check_box_switch').on('click', function () {
            if ($('#reflash_check_box_switch').prop('checked')) {
                setCookie('reflash_check_box_switch', 'true', '365');
                if (getCookie('new_check_box_switch') == 'true') {
                    isActive = true;
                    setTimeout(fnNewAlram, timer)
                }
            } else {
                setCookie('reflash_check_box_switch', 'false', '0');
                isActive = false;
            }
        });

        $('#new_check_box_switch').on('click', function () {
            if ($('#new_check_box_switch').prop('checked')) {
                setCookie('new_check_box_switch', 'true', '365');
                if (getCookie('reflash_check_box_switch') == 'true') {
                    isActive = true;
                    setTimeout(fnNewAlram, timer);
                }
            } else {
                setCookie('new_check_box_switch', 'false', '0');
                isActive = false;
            }
        });

        $('#selectAudio').on('change', function () {
            setCookie('selectAudio', $('#selectAudio').val(), '365');
        })
    })


    function fnNewAlram() {

        $.ajax({
            url: '/c/alram',
            dataType: 'json',
            type: 'POST',
            data: {alramDt: $('#alramDt').val()},
            success: function (result) {
                //console.log(result)
                console.log('getCookie("alram_check_seq") : ', getCookie('alram_check_seq'))
                if (result.success && getCookie('alram_check_seq') != result.data.dateList.seq) {
                    $('#alramDt').val(result.data.dateList.alramDt);


                    if (getCookie('alram_check_box_switch') == 'true') {

                        if ($("#selectAudio").val() == '04') {
                            speech("입금신청이있습니다")
                        } else if ($("#selectAudio").val() == '05') {
                            speech("새메세지가있습니다")
                        } else if ($("#selectAudio").val() == '01') {
                            $("#btnPlay1").click();
                        } else if ($("#selectAudio").val() == '02') {
                            $("#btnPlay2").click();
                        } else if ($("#selectAudio").val() == '03') {
                            $("#btnPlay3").click();
                        }
                        setCookie('alram_check_seq', result.data.dateList.seq, '365');

                        setTimeout(() => {
                            fnSearch();
                        }, 2000);
                    } else {
                        setTimeout(() => {
                            fnSearch();
                        }, 2000);
                    }
                } else {
                    if (result.code == "403") $('#sessionOut').modal();
                    else {
                        if (isActive) {
                            console.log("set Time1")
                            setTimeout(fnNewAlram, timer)
                        }
                    }
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(textStatus)
                if (isActive) {
                    console.log("set Time2")
                    setTimeout(fnNewAlram, timer)
                }
                //cancelMessage('정상적으로 처리되지 않았습니다. 다시 시도하여 주세요!');
            } //function끝
        });

    }

    function fnSearch() {
        wrapWindowByMaskShow();
        // let date = $("#datepicker").val().split("-");

        let srtDt = $('#srtDt').val();
        let endDt = $('#endDt').val();

        let srchOption = $('#srchOption option:selected').val();
        let srchBuySts = $('#srchBuySts option:selected').val();
        let srchText = $('#srchText').val();
        let pageIndex = $('#pageIndex').val();
        let rowsPerPage = $('#rowsPerPage option:selected').val();

        console.log("pageIndex : " + pageIndex)

        let alramDt = $('#alramDt').val();

        var form = document.createElement("form");
        form.setAttribute("charset", "UTF-8");
        form.setAttribute("method", "Post");  //Post 방식
        form.setAttribute("action", "/c/view"); //요청 보낼 주소

        var hiddenField1 = document.createElement("input");
        hiddenField1.setAttribute("type", "hidden");
        hiddenField1.setAttribute("name", "pageIndex");
        hiddenField1.setAttribute("value", pageIndex);
        form.appendChild(hiddenField1);

        var hiddenField2 = document.createElement("input");
        hiddenField2.setAttribute("type", "hidden");
        hiddenField2.setAttribute("name", "srchOption");
        hiddenField2.setAttribute("value", srchOption);
        form.appendChild(hiddenField2);

        var hiddenField3 = document.createElement("input");
        hiddenField3.setAttribute("type", "hidden");
        hiddenField3.setAttribute("name", "srchBuySts");
        hiddenField3.setAttribute("value", srchBuySts);
        form.appendChild(hiddenField3);

        var hiddenField4 = document.createElement("input");
        hiddenField4.setAttribute("type", "hidden");
        hiddenField4.setAttribute("name", "srchText");
        hiddenField4.setAttribute("value", srchText);
        form.appendChild(hiddenField4);

        var hiddenField5 = document.createElement("input");
        hiddenField5.setAttribute("type", "hidden");
        hiddenField5.setAttribute("name", "srtDt");
        hiddenField5.setAttribute("value", srtDt);
        form.appendChild(hiddenField5);

        var hiddenField6 = document.createElement("input");
        hiddenField6.setAttribute("type", "hidden");
        hiddenField6.setAttribute("name", "endDt");
        hiddenField6.setAttribute("value", endDt);
        form.appendChild(hiddenField6);

        var hiddenField7 = document.createElement("input");
        hiddenField7.setAttribute("type", "hidden");
        hiddenField7.setAttribute("name", "alramDt");
        hiddenField7.setAttribute("value", alramDt);
        form.appendChild(hiddenField7);

        var hiddenField8 = document.createElement("input");
        hiddenField8.setAttribute("type", "hidden");
        hiddenField8.setAttribute("name", "rowsPerPage");
        hiddenField8.setAttribute("value", rowsPerPage);
        form.appendChild(hiddenField8);

        document.body.appendChild(form);
        form.submit();
    }


    function fnSearch_temp() {
        clearTimeout(fnNewAlram);
        let srtDt = $('#srtDt').val();
        let endDt = $('#endDt').val();

        let srchOption = $('#srchOption option:selected').val();
        let srchBuySts = $('#srchBuySts option:selected').val();
        let srchText = $('#srchText').val();
        let pageIndex = $('#pageIndex').val();

        wrapWindowByMaskShow();
        $('#tbodyList').empty();
        $.ajax({
            url: '/c/tblView',
            dataType: 'json',
            type: 'POST',
            data: {
                srtDt: srtDt,
                endDt: endDt,
                srchOption: srchOption,
                srchBuySts: srchBuySts,
                srchText: srchText,
                pageIndex: pageIndex

            },
            success: function (result) {
                wrapWindowByMaskHide();

                if (result.success) {
                    let basicInfo = result.data.basicInfo;

                    let coinListHtml = "";
                    let coinList = basicInfo.coinList;
                    let pagination = basicInfo.pagination;
                    let totalItems = pagination.totalItems;

                    if (coinList.length > 0) {
                        for (var ii = 0; ii < coinList.length; ii++) {
                            var num = basicInfo.pagination.totalPageCount - ((basicInfo.pagination.pageIndex - 1) * basicInfo
                                .pagination.rowsPerPage) - ii;

                            coinListHtml += "<tr>";
                            coinListHtml += "<td>" + num + "</td>";
                            coinListHtml += "<td><a href='javascript:void(0)' onclick='fnMemIdSrch(\"" + coinList[ii].mem_id + "\")'>" + coinList[ii].mem_id + "</a></td>";
                            coinListHtml += "<td>" + coinList[ii].mem_nm + "</td>";
                            coinListHtml += "<td>" + addCommas(coinList[ii].buy_num) + "</td>";
                            coinListHtml += "<td>" + addCommas(coinList[ii].pay_num) + "</td>";
                            coinListHtml += "<td>" + coinList[ii].bank + "</td>";

                            if (coinList[ii].sell_sts == 'CMDT00000000000024') {
                                coinListHtml +=
                                    '<td><span class="btn btn-lg btn-block " style="background: #5b76ca;color: white; cursor:default;">' +
                                    coinList[ii].sell_sts_name + '</span></td>'
                            } else if (coinList[ii].sell_sts == 'CMDT00000000000027') {
                                coinListHtml +=
                                    '<td><span class="btn btn-lg btn-block " style="background: #ca5b7c;color: white; cursor:default;">' +
                                    coinList[ii].sell_sts_name + '</span></td>'
                            } else if (coinList[ii].sell_sts == 'CMDT00000000000026') {
                                coinListHtml +=
                                    '<td><span class="btn btn-lg btn-block " style="background: #b6ca5b;color: white; cursor:default;">' +
                                    coinList[ii].sell_sts_name + '</span></td>'
                            } else if (coinList[ii].sell_sts == 'CMDT00000000000043') {
                                coinListHtml +=
                                    '<td><span class="btn btn-lg btn-block " style="background: #8dbed1;color: white; cursor:default;">' +
                                    coinList[ii].sell_sts_name + '</span></td>'
                            } else if (coinList[ii].sell_sts == 'CMDT00000000000044') {
                                coinListHtml +=
                                    '<td><span class="btn btn-lg btn-block " style="background: #5bc6ca;color: white; cursor:default;">' +
                                    coinList[ii].sell_sts_name + '</span></td>'
                            } else {
                                coinListHtml += "<td></td>"
                            }

                            coinListHtml += "<td>" + coinList[ii].create_dt + "</td>";
                            coinListHtml += "<td class='text-center'>";

                            if (coinList[ii].sell_sts == 'CMDT00000000000024' && $('#adminGrade').val() !=
                                'CMDT00000000000034') {
                                coinListHtml += '<span class="btn btn-lg rounded-pill btn-success px-4 mr-1" onClick="fnBuyStsCng(\'' +
                                    coinList[ii].buySeq + '\',\'CMDT00000000000026\')">승인</span>'
                                coinListHtml += '<span class="btn btn-lg rounded-pill btn-danger px-4" onClick="fnBuyStsCng(\'' +
                                    coinList[ii].buySeq + '\',\'CMDT00000000000027\')">취소</span>'

                            }
                            coinListHtml += "</td>";
                            if (coinList[ii].update_dt) {
                                coinListHtml += "<td>" + coinList[ii].update_dt + "</td></tr>";
                            } else {
                                "<td></td></tr>";
                            }
                        }

                    }
                    $('#tbodyList').append(coinListHtml);
                    let pagingHtml = "";

                    if (parseInt(pagination.curSet) > 1) {
                        pagingHtml += '<li class="page-item prev"><a href="javascript:void(0)" onClick="$(\'#pageIndex\').val(' + (pagination.startPage - 1) + '); fnSearch();" class="page-link" tabindex="-1">&lt;</a></li>'
                    }
                    for (var i = parseInt(pagination.startPage); i <= parseInt(pagination.endPage); i++) {
                        if (i > parseInt(pagination.totalPage)) {
                            break;
                        }

                        if (i == parseInt(pagination.pageIndex)) {
                            pagingHtml += '<li class="page-item active"><a class="page-link" href="javascript:void(0)">' + i + '</a></li>'

                        } else {
                            pagingHtml += '<li class="page-item"><a href="javascript:void(0);" class="page-link" onClick="$(\'#pageIndex\').val(' + i + '); fnSearch();">' + i + ' </a></li>'
                        }
                    }

                    if (parseInt(pagination.curSet) < parseInt(pagination.totalSet)) {
                        pagingHtml += '<li class="page-item next"><a href="javascript:void(0);" class="page-link" onClick="$(\'#pageIndex\').val(' + (Number(pagination.endPage) + 1) + '); fnSearch();" >&gt;</a></li>'

                    }
                    $('.pagination').empty();
                    $('.pagination').append(pagingHtml);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                location.reload();
                cancelMessage('정상적으로 처리되지 않았습니다. 다시 시도하여 주세요!');
            } //function끝
        });

        $('#tbodyList').focus();

        $.ajax({
            url: '/c/summary',
            dataType: 'json',
            type: 'POST',
            data: {
                srtDt: srtDt,
                endDt: endDt,
                srchOption: srchOption,
                srchBuySts: srchBuySts,
                srchText: srchText,
                pageIndex: pageIndex

            },
            success: function (result) {
                console.log("alram start")
                if (isActive) {
                    setTimeout(fnNewAlram, timer)
                }

                if (result.success) {
                    let basicInfo = result.data.basicInfo;

                    $('#tot_buy_num').text(addCommas(basicInfo.tot_buy_num));
                    $('#tot_pay_num').text(addCommas(basicInfo.tot_pay_num));
                    $('#tot_trans_num').text(addCommas(basicInfo.tot_trans_num));
                    $('#decreaseBalance').text(addCommas(basicInfo.decreaseBalance));
                    $('#increaseBalance').text(addCommas(basicInfo.increaseBalance));
                    $('#totBalance').text(addCommas(basicInfo.totBalance));

                }


            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                location.reload();
                console.log(XMLHttpRequest)
                console.log(textStatus)
                console.log(errorThrown)
            } //function끝
        });
        wrapWindowByMaskHide();
    }

    function fnMemIdSrch(_text) {
        let srchText = _text;
        let pageIndex = 1;
        let srchOption = 'CMDT00000000000019';

        var form = document.createElement("form");
        form.setAttribute("charset", "UTF-8");
        form.setAttribute("method", "Post"); //Post 방식
        form.setAttribute("action", "/m/view"); //요청 보낼 주소

        var hiddenField1 = document.createElement("input");
        hiddenField1.setAttribute("type", "hidden");
        hiddenField1.setAttribute("name", "pageIndex");
        hiddenField1.setAttribute("value", pageIndex);
        form.appendChild(hiddenField1);
        var hiddenField2 = document.createElement("input");
        hiddenField2.setAttribute("type", "hidden");
        hiddenField2.setAttribute("name", "srchOption");
        hiddenField2.setAttribute("value", srchOption);
        form.appendChild(hiddenField2);
        var hiddenField3 = document.createElement("input");
        hiddenField3.setAttribute("type", "hidden");
        hiddenField3.setAttribute("name", "srchText");
        hiddenField3.setAttribute("value", srchText);
        form.appendChild(hiddenField3);

        document.body.appendChild(form);
        form.submit();
    }

    function fnBuyStsCng(buySeq, buySts) {

        wrapWindowByMaskShow();
        let msg = "입금 완료 처리 진행됩니다. 진행하시겠습니까?";
        if (buySts == 'CMDT00000000000027') msg = "입금 취소 처리 진행됩니다. 진행하시겠습니까?";
        let isConfirm = confirm(msg);

        if (isConfirm) {


            $.ajax({
                url: '/c/buycng',
                dataType: 'json',
                type: 'POST',
                data: {
                    buySeq: buySeq,
                    buySts: buySts
                },
                success: function (result) {
                    wrapWindowByMaskHide();
                    if (result.success) {
                        wrapWindowByMaskShow();
                        console.log("reload")
                        location.reload(true);

                    } else {
                        $('#modalText').empty();
                        $('#modalText').text(result.message);
                        $('#alertModal').modal('show');


                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    wrapWindowByMaskHide();
                    $('#modalText').empty();
                    $('#modalText').text("알수 없는 오류가 발생했습니다.");
                    $('#alertModal').modal('show');
                } //function끝
            });
        } else {
            wrapWindowByMaskHide();
            return;
        }
    }

    function fnBuyStsCngAll(buySts) {

        wrapWindowByMaskShow();
        let totalCnt = $('input:checkbox[name="ckeck_list"]:checked').length;
        let msg = totalCnt + "건이 입금 완료 처리 진행됩니다. 진행하시겠습니까?";
        if (buySts == 'CMDT00000000000027') msg = totalCnt + "건이 입금 취소 처리 진행됩니다. 진행하시겠습니까?";
        let isConfirm = confirm(msg);
        let cnt = 0;
        if (isConfirm) {
            $('input:checkbox[name="ckeck_list"]:checked').each(function () {
                $.ajax({
                    url: '/c/buycng',
                    dataType: 'json',
                    type: 'POST',
                    async: false,
                    data: {
                        buySeq: this.value,
                        buySts: buySts
                    },
                    success: function (result) {
                        if (result.success) {
                            cnt++;
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        wrapWindowByMaskHide();
                        $('#modalText').empty();
                        $('#modalText').text("알수 없는 오류가 발생했습니다.");
                        $('#alertModal').modal('show');
                        return;
                    } //function끝
                });
            });
        } else {
            wrapWindowByMaskHide();
            return;
        }

        location.reload(true);
    }

    function requestExcel() {
        wrapWindowByMaskShow();
        let srchText = $('#srchText').val();
        let srchOption = $('#srchOption option:selected').val();
        let srtDt = $('#srtDt').val();
        let endDt = $('#endDt').val();
        $.ajax({
            url: '/c/excelList',
            dataType: 'json',
            type: 'POST',
            data: {
                srtDt: srtDt,
                endDt: endDt,
                srchText: srchText,
                srchOption: srchOption
            },
            success: function (result) {
                wrapWindowByMaskHide();
                $('#passwordChangeModal').modal('hide')
                if (result.success) {
                    let coinList = result.data.coinList;
                    let html = "";
                    html += '<table class="table table-border-top-0 table-fixed" id="coinTable" style="display:none">'
                    html += '	<colgroup>'

                    html += '		<col width="7%">'
                    html += '		<col width="7%">'
                    html += '		<col width="7%">'
                    html += '		<col width="7%">'
                    html += '		<col width="15%">'
                    html += '		<col width="10%">'
                    html += '		<col width="12%">'
                    html += '		<col width="12%">'
                    html += '	</colgroup>'
                    html += '		<thead>'
                    html += '			<tr class="text-left">'

                    html += '				<th>아이디</th>'
                    html += '				<th>이름</th>'
                    html += '				<th>구매금액</th>'
                    html += '				<th>지급코인</th>'
                    html += '				<th>입금자명</th>'
                    html += '				<th class="text-center">상태</th>'
                    html += '				<th>요청일자</th>'
                    html += '				<th>처리일자</th>'
                    html += '			</tr>'
                    html += '		</thead>'
                    html += '<tbody> '
                    for (var i = 0; i < coinList.length; i++) {


                        html += '<tr class="text-center">'
                        html += '	<td>' + coinList[i].mem_id + '</td>'
                        html += '	<td>' + coinList[i].mem_nm + '</td>'
                        html += '	<td>' + coinList[i].buy_num + '</td>'
                        html += '	<td>' + coinList[i].pay_num + '</td>'
                        html += '	<td>' + coinList[i].bank + '</td>'
                        html += '	<td>' + coinList[i].sell_sts_name + '</td>'
                        html += '	<td>' + coinList[i].create_dt + '</td>'
                        html += '	<td>' + coinList[i].update_dt + '</td>'


                    }
                    html += '</tbody>'
                    html += '</table>'

                    $('body').append(html);

                    $("#coinTable").table2excel({
                        exclude: ".excludeThisClass",
                        name: "코인관리",
                        filename: "코인구매관리.xls", // do include extension
                        preserveColors: false // set to true if you want background colors and font colors preserved
                    });

                } else {
                    wrapWindowByMaskHide();
                    $('#modalText').empty();
                    $('#modalText').text(result.message);
                    $('#alertModal').modal('show');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                wrapWindowByMaskHide();
                $('#modalText').empty();
                $('#modalText').text('정상적으로 처리되지 않았습니다.');
                $('#alertModal').modal('show');
            } //function끝
        });
    }

    function fnCheckToggle() {
        if ($('input:checkbox[id="check_main"]').is(":checked") == true) {
            $('input:checkbox[name="ckeck_list"]').each(function () {
                this.checked = true;
            });
        } else {
            $('input:checkbox[name="ckeck_list"]').each(function () {
                this.checked = false;
            });
        }
    }
</script>

<script>
    var voices = [];

    function setVoiceList() {
        voices = window.speechSynthesis.getVoices();
    }

    setVoiceList();
    if (window.speechSynthesis.onvoiceschanged !== undefined) {
        window.speechSynthesis.onvoiceschanged = setVoiceList;
    }

    var lang = 'ko-KR';

    function speech(txt) {
        if (!window.speechSynthesis) {
            alert("음성 재생을 지원하지 않는 브라우저입니다. 크롬, 파이어폭스 등의 최신 브라우저를 이용하세요");
            return;
        }
        var utterThis = new SpeechSynthesisUtterance(txt);
        utterThis.onend = function (event) {
            console.log('end');
        };
        utterThis.onerror = function (event) {
            console.log('error', event);
        };
        var voiceFound = false;
        for (var i = 0; i < voices.length; i++) {
            if (voices[i].lang.indexOf(lang) >= 0 || voices[i].lang.indexOf(lang.replace('-', '_')) >= 0) {
                utterThis.voice = voices[i];
                voiceFound = true;
            }
        }
        if (!voiceFound) {
            alert('voice not found');
            return;
        }
        utterThis.lang = lang;
        utterThis.pitch = 1;
        utterThis.rate = 1; //속도
        window.speechSynthesis.speak(utterThis);
    }

    function fnNftBuyList(seq) {
        wrapWindowByMaskShow();
        let data = {
            seq: seq
        }

        $.ajax({
            url: '/c/nftBuyList',
            dataType: 'json',
            type: 'POST',
            data: data,
            success: function (result) {
                wrapWindowByMaskHide();
                console.log(result)
                if (result.success) {
                    let list = result.data;
                    let html = "";
                    $("#nftBuyListTbody").html("");
                    list.forEach(function (el, index) {
                        html += "<tr>";
                        html += "<td style='width: 20%;'>";
                        html += "<img src='"+el.nft_img+"'>"
                        html += "</td>";
                        html += "<td>";
                        html += el.nft_nm;
                        html += "</td>";
                        html += "<td>";
                        html += el.buy_amount;
                        html += "</td>";
                        html += "<td>";
                        html += el.sell_price * el.buy_amount;
                        html += "</td>";
                        html += "</tr>";
                    });
                    $("#nftBuyListTbody").append(html);
                    $("#nftBuyListModal").modal('show');
                } else {
                    fnAlertMessage(result.message);
                }
            }
        });
    }
</script>
</html>
