<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../includes/cdn.ejs %>
</head>
<body class="bg-gray-50 md:mt-24 md:pt-0 md:pb-12 md:pr-8 md:pl-72">
<% include ../includes/mainHeader.ejs %>
<!-- Main Contents | Contents Start -->
<div class="max-w-screen-2xl mx-auto bg-brown p-5 rounded-3xl shadow-2xl shadow-neutral-900">
    <div class="content bg-brown-900 pb-16 shadow-2xl rounded-3xl">
        <div class="intro-y flex items-center pt-10 text-neutral-50">
            <i class="bx bx-wallet-alt nav__icon"></i>
            <h2 class="pl-3 pt-1 text-sm lg:text-lg font-bold">판매 내역</h2>
        </div>
        <div class="grid grid-cols-1 gap-6">
            <div class="intro-y col-span-12 lg:col-span-6">
                <div class="">
                    <div class="mt-5 rounded border border-solid border-red-600 px-2 py-1 text-red-600">
                        <div class="flex gap-2 items-center w-full">
                            <i class="bx bxs-error-circle mr-2 text-xl"></i>
                            <p class="text-xs xm:text-xm font-bold whitespace-normal break-all overflow-x-auto">
                                하루 단위로 조회가 되며 당일부터 8일치 까지 가능합니다. 추가적인 데이터는 별도로 문의 하여 주세요.
                            </p>
                        </div>
                    </div>
                    <!-- Search__selection--items -->

                    <div class="flex flex-col lg:flex-row items-center gap-2 mt-3">
                        <!-- Date -->
                        <div date-rangepicker="" class="flex items-center gap-2">
                            <div class="relative">
                                <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                                    <svg class="w-5 h-5 text-neutral-50 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <input type="text" class="text-sm outlineform outlineform-secondary rounded-md placeholder:text-neutral-50 block w-full pl-10 py-1 datepicker-input" id="startDate" placeholder="시작일" readonly value="<%=basicInfo.search.srtDt%>"/>
                            </div>

                            <div class="relative">
                                <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                                    <svg class="w-5 h-5 text-neutral-50 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <input type="text" class="text-sm outlineform outlineform-secondary rounded-md placeholder:text-neutral-50 block w-full pl-10 py-1 datepicker-input" id="endDate" placeholder="종료일" readonly value="<%=basicInfo.search.endDt%>"/>
                            </div>
                        </div>
                        <input type="hidden" id="srtDt" name="srtDt" value="<%=basicInfo.search.srtDt%>" />
                        <input type="hidden" id="endDt" name="endDt" value="<%=basicInfo.search.endDt%>" />
                        <!-- Search Selection -->
                        <div class="flex flex-col lg:flex-row gap-2 w-full">
                            <div class="flex flex-row gap-2 items-center w-full">
                                <select class="form-select outlineform outlineform-secondary w-full" aria-label=".form-select example" id="srchGubun">
                                    <option value="" <% if (basicInfo.search.gubun=='' ) { %> selected <%}%> >==전체==</option>
                                    <option value="CMDT00000000000038" <% if (basicInfo.search.srchGubun=='CMDT00000000000038' ) { %> selected <%}%> >판매</option>
                                    <option value="CMDT00000000000039" <% if (basicInfo.search.srchGubun=='CMDT00000000000039' ) { %> selected <%}%> >사용</option>
                                    <option value="CMDT00000000000043" <% if (basicInfo.search.srchGubun=='CMDT00000000000043' ) { %> selected <%}%> >지급</option>
                                    <option value="CMDT00000000000044" <% if (basicInfo.search.srchGubun=='CMDT00000000000044' ) { %> selected <%}%> >차감</option>
                                </select>
                                <select class="form-select outlineform outlineform-secondary w-full" aria-label=".form-select example" onchange="javascript:$('#pageIndex').val(1)" id="srchOption" name="gubun">
                                    <option value="">=선택=</option>
                                    <option value="CMDT00000000000019" <% if (basicInfo.search.srchOption=='CMDT00000000000019' ) { %> selected <%}%> >회원아이디</option>
                                    <option value="CMDT00000000000020" <% if (basicInfo.search.srchOption=='CMDT00000000000020' ) { %> selected <%}%> >회원이름</option>
                                </select>
                            </div>
                            <div class="flex flex-col lg:flex-row gap-2 items-center w-full">
                                <input type="text" class="form-select outlineform outlineform-secondary w-full" placeholder="선택에 해당하는 내용을 입력하세요." aria-label=".form-control example" id="srchText" name="srchText" value="<%=basicInfo.search.srchText %>"/>
                                <button class="btn btn-search w-48" onclick="fnSearch();">검색</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- START | Table -->
        <!-- 보기설정 : 10개씩 20개씩 50개씩 -->
        <div class="py-3 px-2 mt-3 shadow rounded-md">
            <div class="flex flex-row rounded-md items-center justify-end">
                <select class="form-select outlineform outlineform-primary w-52" aria-label=".form-select example" id="rowsPerPage" name="rowsPerPage">
                    <option value="10" <% if (basicInfo.pagination.rowsPerPage == '10') { %> selected<%}%> >10개씩 보기</option>
                    <option value="20" <% if (basicInfo.pagination.rowsPerPage == '20') { %> selected<%}%> >20개씩 보기</option>
                    <option value="50" <% if (basicInfo.pagination.rowsPerPage == '50') { %> selected<%}%> >50개씩 보기</option>
                    <option value="100" <% if (basicInfo.pagination.rowsPerPage == '100') { %> selected<%}%> >100개씩 보기</option>
                </select>
                <a href="javascript:void(0);" class="text-right text-xs ml-3 sm:text-sm text-neutral-50">
                    <i class="bx bx-select-multiple bx-sm" onclick="requestExcel();"></i>
                </a>
            </div>
            <!-- Table | 거래내역 보기 -->
            <input type="hidden" id="pageIndex" value="<%=basicInfo.pagination.pageIndex %>">
            <div class="border-b border-white text-sm overflow-x-auto">
                <table class="table-theme-3 mt-3">
                    <thead>
                    <tr>
                        <th class="">No</th>
                        <th class="">아이디</th>
                        <th class="">이름</th>
                        <th class="">거래상태</th>
                        <th class="">입금금액</th>
                        <th class="">포인트</th>
                        <th class="">거래일자</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% if (basicInfo.coinList.length> 0) {
                        var num = basicInfo.pagination.totalPageCount - ((basicInfo.pagination.pageIndex -1) * basicInfo.pagination.rowsPerPage)
                        basicInfo.coinList.forEach(function(el, index) { %>
                        <tr class="">
                            <td>
                                <%=num - index%>
                            </td>
                            <td>
                                <% if (el.sts=='판매 승인') { %>
                                    <a href="#n" onclick="fnNftBuyList('<%=el.seq%>');">
                                        <%=el.mem_id%>
                                    </a>
                                <% } else { %>
                                    <%=el.mem_id%>
                                <% } %>
                            </td>
                            <td>
                                <%=el.mem_nm%>
                            </td>
                            <% if (el.sts=='판매 승인' ) { %>
                            <td>
                                <div class="badge badge-approve w-5/12"><%=el.sts%></div>
                            </td>
                            <% } else if (el.sts=='판매 취소' ){ %>
                            <td>
                                <div class="badge badge-cancel w-5/12"><%=el.sts%></div>
                            </td>
                            <% } else { %>
                            <td>
                                <div class="badge badge-increase w-5/12"><%=el.sts%></div>
                            </td>
                            <% } %>
                            <td>
                                <%=Number(el.amt).toLocaleString('ko-KR')%>
                            </td>
                            <td>
                                <%=Number(el.coin).toLocaleString('ko-KR')%>
                            </td>
                            <td>
                                <%=el.use_dt%>
                            </td>
                        </tr>
                    <% })} %>
                    </tbody>
                </table>
                <!-- START | Pagination -->
                <% include ../includes/paging.ejs %>
                <!-- END | Pagination -->
            </div>
        </div>
    </div>
</div>
</body>
<% include ../includes/js.ejs %>
<% include ../includes/footer.ejs %>

<script>
    $(document).ready(function () {
        $('#srchText').keypress(function (event) {
            if (event.which == 13) {
                fnSearch();
            }
        });
        // let srtDt = $('#srtDt').val();
        // let endDt = $('#endDt').val();
        // $('input[id="datepicker"]').daterangepicker({
        //     startDate: srtDt,
        //     endDate: endDt,
        //     locale: {
        //         format: 'YYYY/MM/DD'
        //     },
        // });
    })

    function fnNftBuyList(seq) {
        wrapWindowByMaskShow();
        let data = {
            seq: seq
        }

        $.ajax({
            url: '/c/nftBuyList',
            dataType: 'json',
            type: 'POST',
            data: data,
            success: function (result) {
                wrapWindowByMaskHide();
                console.log(result)
                if (result.success) {
                    let list = result.data;
                    let html = "";
                    $("#nftBuyListTbody").html("");
                    list.forEach(function (el, index) {
                        html += "<tr>";
                        html += "<td style='width: 20%;'>";
                        html += "<img src='"+el.nft_img+"'>"
                        html += "</td>";
                        html += "<td>";
                        html += el.nft_nm;
                        html += "</td>";
                        html += "<td>";
                        html += el.buy_amount;
                        html += "</td>";
                        html += "<td>";
                        html += el.sell_price * el.buy_amount;
                        html += "</td>";
                        html += "</tr>";
                    });
                    $("#nftBuyListTbody").append(html);
                    $("#nftBuyListModal").modal('show');
                } else {
                    fnAlertMessage(result.message);
                }
            }
        });
    }

    function fnSearch() {
        wrapWindowByMaskShow();

        // let date = $("#datepicker").val().split("-");

        // $('#srtDt').val($.trim(date[0]));
        // $('#endDt').val($.trim(date[1]));
        $('#srtDt').val($("#startDate").val());
        $('#endDt').val($("#endDate").val());

        let srtDt = $('#srtDt').val();
        let endDt = $('#endDt').val();

        let srchOption = $('#srchOption option:selected').val();
        let srchGubun = $('#srchGubun option:selected').val();
        let srchText = $('#srchText').val();
        let pageIndex = $('#pageIndex').val();
        let rowsPerPage = $('#rowsPerPage option:selected').val();

        var form = document.createElement("form");
        form.setAttribute("charset", "UTF-8");
        form.setAttribute("method", "Post");  //Post 방식
        form.setAttribute("action", "/c/wview"); //요청 보낼 주소

        var hiddenField1 = document.createElement("input");
        hiddenField1.setAttribute("type", "hidden");
        hiddenField1.setAttribute("name", "pageIndex");
        hiddenField1.setAttribute("value", pageIndex);
        form.appendChild(hiddenField1);
        var hiddenField2 = document.createElement("input");
        hiddenField2.setAttribute("type", "hidden");
        hiddenField2.setAttribute("name", "srchOption");
        hiddenField2.setAttribute("value", srchOption);
        form.appendChild(hiddenField2);

        var hiddenField3 = document.createElement("input");
        hiddenField3.setAttribute("type", "hidden");
        hiddenField3.setAttribute("name", "srchGubun");
        hiddenField3.setAttribute("value", srchGubun);
        form.appendChild(hiddenField3);

        var hiddenField4 = document.createElement("input");
        hiddenField4.setAttribute("type", "hidden");
        hiddenField4.setAttribute("name", "srchText");
        hiddenField4.setAttribute("value", srchText);
        form.appendChild(hiddenField4);

        var hiddenField5 = document.createElement("input");
        hiddenField5.setAttribute("type", "hidden");
        hiddenField5.setAttribute("name", "srtDt");
        hiddenField5.setAttribute("value", srtDt);
        form.appendChild(hiddenField5);

        var hiddenField6 = document.createElement("input");
        hiddenField6.setAttribute("type", "hidden");
        hiddenField6.setAttribute("name", "endDt");
        hiddenField6.setAttribute("value", endDt);
        form.appendChild(hiddenField6);

        var hiddenField7 = document.createElement("input");
        hiddenField7.setAttribute("type", "hidden");
        hiddenField7.setAttribute("name", "rowsPerPage");
        hiddenField7.setAttribute("value", rowsPerPage);
        form.appendChild(hiddenField7);

        document.body.appendChild(form);
        form.submit();
    }


    function requestExcel() {
        wrapWindowByMaskShow();
        let srchText = $('#srchText').val();
        let srchOption = $('#srchOption option:selected').val();
        let srchGubun = $('#srchGubun option:selected').val();
        // let date = $("#datepicker").val().split("-");
        // $('#srtDt').val($.trim(date[0]));
        // $('#endDt').val($.trim(date[1]));
        $('#srtDt').val($("#startDate").val());
        $('#endDt').val($("#endDate").val());
        let srtDt = $('#srtDt').val();
        let endDt = $('#endDt').val();

        console.log('호출 전 ');

        $.ajax({
            url: '/c/walletExcelList',
            dataType: 'json',
            type: 'POST',
            data: {
                srtDt: srtDt,
                endDt: endDt,
                srchText: srchText,
                srchOption: srchOption,
                srchGubun: srchGubun
            },
            success: function (result) {
                wrapWindowByMaskHide();
                $('#passwordChangeModal').modal('hide')
                if (result.success) {
                    let coinList = result.data.coinList;
                    let html = "";
                    html += '<table class="table table-border-top-0 table-fixed" id="coinTable" style="display:none">'
                    html += '	<colgroup>'
                    html += '		<col width="5%">'
                    html += '		<col width="5%">'
                    html += '		<col width="5%">'
                    html += '		<col width="5%">'
                    html += '		<col width="5%">'
                    html += '		<col width="5%">'
                    html += '	</colgroup>'
                    html += '		<thead>'
                    html += '			<tr class="text-left">'
                    html += '				<th>아이디</th>'
                    html += '				<th>이름</th>'
                    html += '				<th>거래상태</th>'
                    html += '				<th>입금금액</th>'
                    html += '				<th>포인트</th>'
                    html += '				<th>거래일자</th>'
                    html += '			</tr>'
                    html += '		</thead>'
                    html += '<tbody> '
                    for (var i = 0; i < coinList.length; i++) {


                        html += '<tr class="text-center">'
                        html += '	<td>' + coinList[i].mem_id + '</td>'
                        html += '	<td>' + coinList[i].mem_nm + '</td>'
                        html += '	<td>' + coinList[i].sts + '</td>'
                        html += '	<td>' + coinList[i].amt + '</td>'
                        html += '	<td>' + coinList[i].coin + '</td>'
                        html += '	<td>' + coinList[i].use_dt + '</td>'


                    }
                    html += '</tbody>'
                    html += '</table>'

                    $('body').append(html);

                    $("#coinTable").table2excel({
                        exclude: ".excludeThisClass",
                        name: "구매내역",
                        filename: "구매내역.xls", // do include extension
                        preserveColors: false // set to true if you want background colors and font colors preserved
                    });

                } else {
                    wrapWindowByMaskHide();
                    $('#modalText').empty();
                    $('#modalText').text(result.message);
                    $('#alertModal').modal('show');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                wrapWindowByMaskHide();
                $('#modalText').empty();
                $('#modalText').text('정상적으로 처리되지 않았습니다.');
                $('#alertModal').modal('show');
            } //function끝
        });
    }
</script>
</html>
